[2016-12-09 18:02] fabriziomoscon opened #8 "Outgoing call CallException message is bound with the error code"
Is there a public method of `CallException` which returns only the error message without the code?
Right now `getMessage()` returns `"code:31002, message:Connection declined"`

I think `VoiceException` should have a public method to get the pure `errorMessage` without the `errorCode`.
I would like the message to be a string so that if needed it ok to show it to users of the app.
[code]

[2016-12-09 18:10] idelgado commented on #8
Good point. We should simply return the private String message in getMessage() and let the developer build a more informational string if they want to.

We'll make that change in the next release. For now you could use reflection to get the private message String from the VoiceException

[2016-12-09 19:08] fabriziomoscon opened #9 "Listener for OutgoingCall ANSWERED"
Is there a way to tell when an `OutgoingCall` is answered? I can see listeners for `onConnected` and `onDisconnected`, but it would be also nice to know when the callee answers the phone, for example the chronometer could start at that point.

[2016-12-09 19:55] idelgado commented on #9
This is a gap in our backend infrastructure. Unfortunately it does not pass the call events like Answered back through our signaling channel in the SDK.

Another developer had the same question which I tried to provide a workaround for but admittedly it's a really annoying one to implement https://github.com/twilio/twilio-client-quickstart-android/issues/39

We're working with our voice infrastruc

[2016-12-20 13:47] fabriziomoscon opened #10 "Missing info with the Twilio number that the caller dialled"
When the app receives a call, is there a way to see what is the Twilio number that the caller dialled which eventually got connected by the server `<Dial>` TwiML?

[code]

Using the `<Dial>` TwiML I am only able to specify the `callerId` to either the caller number or the Twilio number the caller dialled.
In my App I wish to see both, because I use the caller number to lookup their name inside the

[2016-12-23 18:08] idelgado commented on #10
@fabriziomoscon Hopefully I understood your question correctly. Apologize if I didn't.

There is not a formal way of getting this information but I think you might be able to overload the `From` field with the following: `client:{caller#}_{twilio#}` and then parse it on the receiving side.

[2016-12-23 18:09] fabriziomoscon commented on #10
cleaver!

[2016-12-29 07:11] ajitdubey-mob-ibtech opened #11 "Register GCM token with Twilio getting error code 31403"
When I am registering with twilio along with parameter access token and GCM token.
  VoiceClient.register(getApplicationContext(), accessToken, gcmToken, registrationListener);

getting below error, So kindly suggest where is the exact problem.
Error: 31403, code:31403, message:Unauthorized answer from service

 Previously I was using voice call, it was working perfectly. Now updating programmable

[2016-12-29 07:40] idelgado commented on #11
Are you generating an access token?

The access token format is different than the capability token from the Client SDK.

See https://www.twilio.com/docs/api/voice-sdk#authenticationauthorization

You can get more info on setting this up in the Getting Started section: https://www.twilio.com/docs/api/voice-sdk/android/getting-started#download-the-application-components

[2016-12-29 11:13] ajitdubey-mob-ibtech commented on #11
Yes I am generating access token not capability token.

[2016-12-29 11:25] ajitdubey-mob-ibtech commented on #11
https://www.twilio.com/docs/api/rest/access-tokens : in this section generating access token for IP messaging and Video only.

[2016-12-30 05:27] idelgado commented on #11
Can you double check that the voice grant shows up in the grants section of the token? You can decode the token using jwt.io

[2017-01-03 10:44] ajitdubey-mob-ibtech commented on #11
From the last 10 days we are wondering but not able to get any exact solution from your side. Even I have raised multiple ticket on your support center related android, iOS and Java.
if you required more information let me know.

Thanks,

[2017-01-09 20:46] kbagchiGWC opened #12 "Error in twilio voice quickstart app"
@abhinay-w3bminds filed the following issue: https://github.com/twilio/video-quickstart-android/issues/46

stacktrace of my app
[code]

[2017-01-20 16:07] idelgado commented on #11
@ajitdubey-mob-ibtech are you still having issues registering with your Access & GCM token?

[2017-01-20 16:10] idelgado commented on #12
@abhinay-w3bminds can you provide me with some additional information. Does this happen on a particular device? How often does it happen?

[2017-01-20 16:21] idelgado commented on #11
@ajitdubey-mob-ibtech Looking at the access token you pasted here it looks like you only have the `ip-messaging` grant. To add another grant you should apply an additional grant in your server code.

See https://github.com/twilio/voice-quickstart-server-python/blob/master/server.py#L26-L32 as an example.

[2017-01-20 17:56] kbagchiGWC commented on #12
@abhinay-w3bminds I looked through the log and see the app received "transport error". Can you please set the log level to debug `VoiceClient.setLogLevel(LogLevel.DEBUG)` and provide logs?

[2017-01-21 05:41] abhinay-w3bminds commented on #12
this happen to particular device (moto g4 plus) on Reliance JIO network Carrier.

[2017-01-22 05:08] idelgado commented on #12
@abhinay-w3bminds If you can provide logs with the LogLevel listed above by @kbagchiGWC we can try to better understand the failure.

[2017-01-22 05:10] #11 closed

[2017-01-23 05:44] ajitdubey-mob-ibtech commented on #11
Thanks for your response.
No, it's working fine because now we are using VoiceGrant API for generating access token.

[2017-01-25 05:49] ajitdubey-mob-ibtech opened #13 "31201:message:Authorization error"
@idelgado
Some time when user A(MO) tried to make a call to user B(MT) authorization error coming.

"Outgoing call onDisconnected code:31201, message:Authorization error"

Regards,
Ajit

[2017-01-25 21:34] kbagchiGWC commented on #10
@fabriziomoscon - did the trick work for you?

[2017-01-25 21:36] fabriziomoscon commented on #10
Sorry, I haven't tried it yet. I will certainly give it a go. Thanks

[2017-01-26 06:01] idelgado commented on #13
@ajitdubey-mob-ibtech Can you provide a device log with this set `VoiceClient.setLogLevel(LogLevel.DEBUG)`?

[2017-01-27 08:55] ajitdubey-mob-ibtech commented on #13
Debug Log given below:

01-27 14:19:52.709 16159-18280/com.voice.test D/Call(native): tw_call_get already exists
01-27 14:19:52.709 16159-18280/com.voice.test D/CallControlManager: onCallSDPCreated notification received
01-27 14:19:52.709 16159-18280/com.voice.test D/PJSIP: 14:19:52.709  dlg0x89c8b864  .Module mod-invite added as dialog usage, data=0xa3de1288
01-27 14:19:52.709 16159-18280/com.voi

[2017-01-31 02:37] kbagchiGWC commented on #13
@ajitdubey-mob-ibtech this looks like an issue caused by invalid access token. Please make sure to follow the steps outlined here https://www.twilio.com/docs/api/rest/access-tokens. Is this happening all the time or only sometimes? If you still have issues and need help, send your account details to kbagchi@twilio.com.

[2017-01-31 05:24] ajitdubey-mob-ibtech commented on #13
@kbagchiGWC  This is happening after some time. Suppose I have taken access token and make so many calls it will work perfectly but after some time when i used same access token then it will give error.

Case: Suppose I have taken access token at 10PM after that put the application in background after some time (estimated 1.30 Hour) when tried to make a call with same access token then it will giv

[2017-01-31 05:37] idelgado commented on #13
@ajitdubey-mob-ibtech Token expiry is built into the access token and is configurable upon creation. In your access token there is a field called _exp_ which sets an expiry for your JWT based access token. This is configurable in the access token server code.

But rather than attempting to manage whether the access token has expired I would recommend that you think of the access token as a short l

[2017-01-31 06:00] ajitdubey-mob-ibtech commented on #13
@idelgado I think in programmable voice SDK there is no any facility to check access token is expire or not.
You mean to say that fetch a new access token for every call even access token is valid or not ?

[2017-01-31 11:59] ajitdubey-mob-ibtech commented on #13
@idelgado  Kindly confirm me.

[2017-01-31 16:19] idelgado commented on #13
@ajitdubey-mob-ibtech Yes, while you could use a JWT library to read the _exp_ field to determine whether it still is valid, to keep things simple, fetching a new token is the simplest way to avoid this issue.

[2017-02-01 05:23] ajitdubey-mob-ibtech commented on #13
@idelgado Thanks

[2017-02-13 11:33] khurana3192 commented on #11
Hey there,

Even I am getting the same error.

I am using PHP Sdk on the server side.

I am proving ProgrammableVoiceGrant as well, still I am getting the same error

[2017-02-13 17:43] bchen-twilio commented on #11
Hi @khurana3192

We are sorry that you are having trouble with the access token.
Could you provide us the error messages you are seeing when using token to register or make calls? It'd also be great if you could provide us your Twilio account-SID so that we can dig up more info from the service backend.
Other than using the voice-grant, please also make sure that you have added the correct API sig

[2017-02-14 09:08] khurana3192 commented on #11
Hi @bchen-twilio

This is my access token
eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiIsImN0eSI6InR3aWxpby1mcGE7dj0xIn0.eyJqdGkiOiJTS2U4ZTEzM2U3NjZlYTI3NzY0ZjNhYTY5NDBjZDdiOThjLTE0ODcwNjMwMzEiLCJpc3MiOiJTS2U4ZTEzM2U3NjZlYTI3NzY0ZjNhYTY5NDBjZDdiOThjIiwic3ViIjoiQUM2MjVkMTQ2NjEzYmQ3Nzk2MzI0ZmI1NjEyZWFmZWY2ZiIsImV4cCI6MTQ4NzA2NjYzMSwiZ3JhbnRzIjp7ImlkZW50aXR5IjoiNzgwYTUzOTdjNGFlNjI5MTVhZmFiNTk4ZDE4NDgyNTBiNWRkMD

[2017-02-14 09:48] khurana3192 opened #15 "No incoming calls in voice-quickstart-android"
There is no error in logs - I am getting successfully registered as well.

Have also set up the push credential sid in my php backend - still I am not able to receive calls in this quickstart app

[2017-02-14 19:37] kbagchiGWC commented on #15
@khurana3192 do you see any record in the console https://www.twilio.com/console/voice/logs/calls? Can you open a support ticket and provide your account details so that we can debug the issue further?

[2017-02-14 21:14] bchen-twilio commented on #11
Hi @khurana3192

I tried to parse your access token in [jwt.io](https://jwt.io/) and I didn't see any obvious format error. We then used the Twilio account SID (from the access token) to dig up some details from the service backend and we did find some authentication errors regarding the invalid API signing key/secret. There are two common misuse cases: users might have put the API signing key to

[2017-02-15 04:11] khurana3192 commented on #15
@kbagchiGWC I have opened a ticket support around 15 hrs back through my Twilio console. Can you please take this on priority?

[2017-02-15 05:43] khurana3192 commented on #15
@kbagchiGWC This android quickstart app, after receiving the accesstoken makes a call to register GCM token in order to receive incoming calls. Even this process has been successful for me. I am getting "Successfully registered" in logs. Everything looks fine to me. However, I am still not able to receive incoming calls in this quickstart app.

When it comes to outbound calls, I am able to make th

[2017-02-15 17:54] kbagchiGWC commented on #15
@khurana3192 can you please make sure your GCM token is correct? Since you are able to successfully register and make calls, the access token is valid. The only other piece that comes between a notification failure is the GCM token.

[2017-02-15 17:58] khurana3192 commented on #15
@kbagchiGWC Thanks for getting back here. I opened a support ticket at Twilio, ticket reference id - 874902.

Somehow, the issue is solved, if you have access, you can go to through the conversation history that happened between me and twilio support. But I am again clueless about how this happened and a bit afraid if this happens again in future, as I am completely relying on Twilio for a product

[2017-02-15 18:29] kbagchiGWC commented on #15
@khurana3192 just to confirm, you are able to receive incoming calls?

[2017-02-15 18:30] khurana3192 commented on #15
@kbagchiGWC Yes, now I am able to receive incoming calls.

[2017-02-15 18:34] kbagchiGWC commented on #15
That's great. Happy coding.

[2017-02-15 18:34] #15 closed

[2017-02-15 19:02] bchen-twilio commented on #11
Hi @khurana3192
I saw from another issue thread that registration is no longer a problem, right?
Glad that it's ironed out and you are able to make and receive calls!

[2017-02-16 03:35] khurana3192 commented on #11
Hi @bchen-twilio . The issue has been resolved by Twilio support team :)
However I am still clueless how this happened, without we making a change in our production level app and PHP backend.

Still, thanks for your valuable time.

You can close this issue

[2017-02-16 17:40] bchen-twilio commented on #11
Cool @khurana3192. Glad that your app is working now.
Please don't hesitate to contact us if you encounter any issue using our SDK.

[2017-02-16 18:14] #13 closed

[2017-02-16 21:42] kbagchiGWC commented on #8
Hi @fabriziomoscon - we have released [Android Voice SDK beta4](https://bintray.com/twilio/releases/voice-android/2.0.0-beta4) and fixed this issue. Please try this out and share your feedback. You can find the changelog for this release [here](https://www.twilio.com/docs/api/voice-sdk/android/changelog).

[2017-02-21 12:58] dalwadi2 opened #16 "FCM intsead of GCM"
We all know that GCM has been deprecated, so any documentation to use FCM with voice-calling.
because there are some methods in SDK that support GCM message checking via a bundle, and in FCM there is no bundle functionality.
provide me some info that will I use FCM or not!
if yes then provide the alternative of that functions.
Reply me ASAP.

[2017-02-21 16:25] idelgado commented on #16
@dalwadi2 We'll be adding support for FCM in our SDK in the next month now that our infrastructure now supports FCM. We will update this ticket once we make a release.

[2017-02-22 04:32] dalwadi2 commented on #16
that's great @idelgado .
good luck with that.
can you please let me know when you release the version with FCM support ?
and then you can close the issue.
thanks.

[2017-02-22 08:06] tasimbac opened #17 "Missing source file"
The string resource file gcm_defaultSenderId is missing from the latest repo commit. The code is failing to compile. Please fix

[2017-02-22 21:49] idelgado commented on #17
@tasimbac The `gcm_defaultSenderId` is a string that is generated by the google-services gradle plugin. Please follow the Getting Started guide(https://www.twilio.com/docs/api/voice-sdk/android/getting-started) to ensure you generate the `google-services.json` from the Google Developer console and put it in the `app` folder.

[2017-02-23 02:02] #8 closed

[2017-02-24 19:29] #17 closed

[2017-03-04 08:23] khurana3192 commented on #15
@kbagchiGWC As suggested by you on Twilio client thread, I have tried Voice Quickstart code to make my app, incoming works but then again stops after some time.

[2017-03-06 04:24] khurana3192 opened #19 "Twilio incoming works - then stops in my Voice Quickstart Android App"
@kbagchiGWC Please help me. Yes, I seriously want you or any other developer around to help me. I was enjoying Twilio services in my new business until a client asked me for incoming calls in our Android app, and this has become a nightmare for me. A true nightmare!

Incoming calls work for like 3-4 hours, and then suddenly stops. I am also refreshing the access tokens periodically, but again it j

[2017-03-06 07:06] khurana3192 commented on #19
@kbagchiGWC One interesting thing I have noticed is, when my Twilio debugger has this error, the incoming works, however as soon as this error stops coming in my debugger, my incoming call stops. Weird, but its true
=================================================
Error - 52161

Empty Credentials

Possible Causes

Credentials are invalid or do not exist for provided credential sid.
Possible Solut

[2017-03-06 09:27] kbagchiGWC commented on #19
@khurana3192 - I will definitely take a look. Can you file a support ticket and add your account sid, push credential sid and share the ticket number?

[2017-03-06 10:13] khurana3192 commented on #19
Hi @kbagchiGWC for the reply. My ticket number is 890206. You will find Account Sid and Push Credential SID in the comments of that ticket.

[2017-03-06 19:43] kbagchiGWC commented on #19
@khurana3192 your credential SID is valid. Can you confirm you have used the same credential SID in the access token that you used to register?

[2017-03-06 22:36] khurana3192 commented on #19
Exactly. Everything is right. And still incoming fails to work. I have set correct credentials in the server part. Moreover, as already told, without even modifying the server code - incoming calls sometimes work -  while sometimes it doesn't. Can you please check the webhooks that trigger push notifications on Twilio's end are configured correctly or not?

[2017-03-07 17:35] kbagchiGWC commented on #19
@khurana3192 - can you provide your access token (in the support ticket) used for registration?

[2017-03-07 18:18] khurana3192 commented on #19
@kbagchiGWC Hey there. Access tokens are generated every time I open my app, or every time the activity resumes. So practically they are renewed every now and then. I am still sharing a latest access token. Please find it in the support ticket.

[2017-03-08 07:54] khurana3192 commented on #19
@kbagchiGWC Please help me with issue. I hope I could make you understand how critical this is, for a small business like us. Where in almost every client is requesting us to implement incoming in apps - and yet we are not able to do so.

[2017-03-08 08:11] kbagchiGWC commented on #19
@khurana3192 I responded to the support ticket.

[2017-03-08 08:26] kbagchiGWC commented on #19
@khurana3192 - do you have a call sid for me to look at?

[2017-03-08 08:47] fabriziomoscon commented on #10
Hi @kbagchiGWC I am following up with this issue.
I found out that the `twi_from` inside the `Bundle` got by this method:
https://github.com/twilio/voice-quickstart-android/blob/master/app/src/main/java/com/twilio/voice/quickstart/gcm/VoiceGCMListenerService.java#L43
is formatted like so:
`this.from = data.getString("twi_from"); // --> +441234567890+441234567890`
so the separator is stripped off.

[2017-03-08 08:57] khurana3192 commented on #19
@kbagchiGWC Have share the same in support ticket.

[2017-03-08 09:02] khurana3192 commented on #19
@kbagchiGWC I have replied to that ticket with an example call sid to debug. Also added a suggestion in the reply that follows - please see if you can get it done.

[2017-03-08 19:17] kbagchiGWC commented on #19
@khurana3192 I have replied to the support ticket in details, here is the gist :

Twilio has a limitation for simultaneously ringing (forking an incoming call) to 20 different endpoints/devices. This issue is related to https://github.com/twilio/twilio-client-quickstart-android/issues/41 that you have filed with CLIENT SDK. When call notification is NOT showing up using voice sdk, is when the clie

[2017-03-09 07:26] khurana3192 commented on #19
@kbagchiGWC  I have just replied on the ticket support thread. I think there is some other reason along with this one.

[2017-03-09 12:16] khurana3192 commented on #19
@kbagchiGWC It really feels bad to ping you again and again. Thanks for helping me on Twilio support ticket.

Here is a thing, with this new SDK - I see that to reject call, we call activeIncomingCall.reject();

However the call keeps ringing at dialer party's end.

This function I think silently fails.

This is the last hurdle that I am facing before we can ship our app to production with the new

[2017-03-10 07:22] kbagchiGWC commented on #19
@khurana3192 - can you please send me logs from the callee side and the call sids from caller and callee? Please set the logLevel to DEBUG before collecting logs.

[2017-03-10 08:20] khurana3192 commented on #19
Ok Thanks,
This line would go above the part where we call VoiceClient.register()? right?

[2017-03-10 08:21] kbagchiGWC commented on #19
@khurana3192 that will work.

[2017-03-10 08:58] khurana3192 commented on #19
This is the call sids from the caller - CA376881972d41b8ea1092fd58b23ffd58
Callee reject logs  -  https://justcall.io/logs/reject-call-logs.txt

[2017-03-11 00:06] kbagchiGWC commented on #19
@khurana3192 I have analyzed the logs and added my findings in the support ticket. Please take a look and let me know if you have any questions.

[2017-03-14 04:42] kbagchiGWC commented on #19
@khurana3192 Can you please confirm if you need any other help? I would like to close the issue if everything is working for you.

[2017-03-14 04:59] #19 closed

[2017-03-14 05:00] kbagchiGWC commented on #19
Closing the issue based on our support ticket conversation.

[2017-03-17 06:03] idelgado commented on #12
Please re-open if you have more information to report.

[2017-03-17 06:03] #12 closed

[2017-03-18 17:37] Jbithell opened #20 "Heroku Build Fails"
Heroku build fails, with message
[code]

[2017-03-18 17:39] Jbithell commented on #20
In incorrect repo - moved to https://github.com/twilio/voice-quickstart-server-python/issues/9

[2017-03-18 17:39] #20 closed

[2017-04-01 16:43] KaiserSoze-2 opened #22 "A design problem with SoundPoolManager"
I am wondering if you plan on integrating SoundPoolManager into the final API.  If not then disregard this note.  Otherwise it's a bad idea to integrate hard resource ID's into the class itself, unless you provide an public method to override them.

[2017-04-01 16:53] KaiserSoze-2 opened #23 "Changes from beta-3 to beta-4 are design changes"
These 3 packages are gone.

import com.twilio.voice.IncomingCall;
import com.twilio.voice.IncomingCallMessage;
import com.twilio.voice.IncomingCallMessageListener;

Just so you know the word "beta" is used to represent a fully complete design that might have bugs.  When you are still doing design changes your product is still "alpha".   So I don't want to be rude.  But consider the impact you have

[2017-04-01 17:08] idelgado commented on #22
Hey. Thanks for writing in.

We plan to keep the SoundPoolManager outside of the library itself. I agree with your comment though. If this was part of the API we would certainly allow you to provide your own resource ids through the ctor or the play and disconnect method themselves.

One of the goals of this library is to try as much as possible to focus purely on mechanism as it relates to making

[2017-04-01 17:40] idelgado commented on #23
@KaiserSoze-2 Thanks for your feedback. The library is nearly feature complete, we haven't been able to ship FCM due to an external dependency with our backend infrastructure. This will be a breaking change and indeed does break the definition of "beta". All the API changes that we've made so far are not adding new features or changing the overall design of our product, they are refactoring and si

[2017-04-03 14:29] daroltidan commented on #16
Hi guys. Can we have an update on this?

[2017-04-03 16:44] idelgado commented on #16
Our plan is to release a beta with FCM this week. I'll post here when we publish the artifact.

[2017-04-04 13:27] #22 closed

[2017-04-07 18:06] KaiserSoze-2 opened #25 "Notifications not working with latest Android Studio updates"
Never mind :(  My mistake.

[2017-04-07 19:37] #25 closed

[2017-04-12 14:33] #23 closed

[2017-04-12 15:16] KaiserSoze-2 opened #26 "Error reporting when credentials are "empty""
GCM was working fine this AM.  But after a few calls GCM stopped sending me call invite messages.  I have no idea why.  I thought I might be able to find out why by just paying attention to the message generated by your registration listener, but it said "registration successful."  Apparently that wasn't the case.  When I visited the Twilio dashboard I found that there had been an error with "Empt

[2017-04-12 15:34] KaiserSoze-2 opened #27 "API for notifications fails"
I tried to list my notification credentials via the API explorer and it responded with a 404.

[2017-04-12 16:11] idelgado commented on #26
@KaiserSoze-2 Can you email your Account SID at idelgado@twilio.com? I'll follow up with more information.

1. I agree. I'm not aware of any outages at the moment but will investigate with our backend team
2. I'll provide that feedback to the console team. I suppose an option for either would be best.
3. This is an issue we've filed against the backend team. We've had other customers report this a

[2017-04-12 16:15] idelgado commented on #27
@KaiserSoze-2 are you referring to this screen?

![screen shot 2017-04-12 at 12 14 18 pm](https://cloud.githubusercontent.com/assets/882552/24967951/acf26312-1f79-11e7-9490-b237d68f8bd9.png)

[2017-04-13 13:41] daroltidan commented on #16
Hi @idelgado! any news ? thanks 😄

[2017-04-13 20:18] idelgado commented on #16
2.0.0-beta5 is available replacing GCM for FCM entirely. You can see the Changelog for a more complete list of changes: https://www.twilio.com/docs/api/voice-sdk/android/changelog#200-beta5. I am in the process of having the associated changes in our quickstart app reviewed: https://github.com/twilio/voice-quickstart-android/pull/28

[2017-04-14 13:11] idelgado commented on #16
The PR is now merged

[2017-04-14 13:13] idelgado commented on #26
@KaiserSoze-2 Didn't hear from you by email. Did you find a resolution to the problems you encountered?

[2017-04-15 04:02] mcmatan commented on #11
I'm having the same exact problem

[2017-04-16 19:53] idelgado commented on #16
Went ahead and added a section to help anyone migrating from GCM to FCM.
https://github.com/twilio/voice-quickstart-android#migrating-from-gcm-to-fcm

[2017-04-16 19:53] #16 closed

[2017-04-18 08:17] daroltidan commented on #16
Thank you! 😃

[2017-04-19 09:59] dalwadi2 commented on #16
cheers @idelgado (Y)

[2017-04-21 18:29] ssadovnikov opened #30 "Question: Is it necessary to call Voice.register() before Voice.call()"
In our application we are using our own PN to manage call state.
Is it necessary to call Voice.register() before Voice.call() or we can just call Voice.call(context, token, callback)?

[2017-04-24 05:17] devganiyahitesh1 commented on #12
Facing the same issue with Nexus5 (armabi-v7) and latest sdk.
added Video.setLogLevel(LogLevel.DEBUG);

`04-24 10:43:26.385 32736-32736/? I/org.webrtc.Logging: MediaCodecVideoDecoder: Trying to find HW decoder for mime video/x-vnd.on2.vp8
04-24 10:43:26.385 32736-32736/? I/org.webrtc.Logging: MediaCodecVideoDecoder: Found candidate decoder OMX.qcom.video.decoder.vp8
04-24 10:43:26.386 32736-32736/

[2017-04-24 09:01] devganiyahitesh1 opened #31 "Crash on Call initialize"
Facing the issue with Nexus5 (armabi-v7) and latest sdk ( com.twilio:video-android:1.0.0-beta16 ).
It is working fine if i run application for particular architecture.But crash when i release app in play store.
added Video.setLogLevel(LogLevel.DEBUG);

`04-24 10:43:26.385 32736-32736/? I/org.webrtc.Logging: MediaCodecVideoDecoder: Trying to find HW decoder for mime video/x-vnd.on2.vp8
04-24 10:43:

[2017-04-24 18:51] kbagchiGWC commented on #30
@ssadovnikov It is not necessary to `Voice.register()` for making calls. You need to register inly if you expect to receive calls.

[2017-04-24 18:55] kbagchiGWC commented on #31
@devganiyahitesh1 moved the issue to https://github.com/twilio/video-quickstart-android/issues/102. Closing this.

[2017-04-24 18:55] #31 closed

[2017-04-25 12:24] dalwadi2 opened #32 "Registration Error: 20101, Invalid Access Token"
I'm getting this error "20101, Invalid Access Token" at the time of registering the voice client, using " Voice.register()" function.
Now as you said in Issue #30 that we've to register before Call.
Every time this error (20101) is coming for me, now after this error I tried to call and it'll connect.
I can't understand how it's going to connect but you've to take a look into this, I've forked thi

[2017-04-27 03:44] TuanTuan opened #33 "How to set the caller and callee number when make outgoing call?"
I do not find the way to set the caller and callee number in the sample code.

`activeCall = Voice.call(VoiceActivity.this, TWILIO_ACCESS_TOKEN, twiMLParams, callListener);`

in the docments, no description for parameter twiMLParams.  what kind of params I can set in the twiMLParams?  just set " From :  xxxx" , and " To ：yyy" for caller and callee number?

[2017-04-28 01:13] kbagchiGWC commented on #33
Hi @TuanTuan  - Your TwiMlL application (https://github.com/twilio/voice-quickstart-android#4-create-a-twiml-application) will generate the TwiML to dial a number and set the callerid.

Let's take python as an example of a TwiMlL application. Your voice url can point to /outgoing endpoint.

[code]
Note that the method above is looking for `To` and `From` parameters to be passed to it.

When you us

[2017-04-28 11:32] dalwadi2 commented on #32
@kbagchiGWC @idelgado @BagchiAtTwilio Can you please at least respond at this issue we are facing right now.
thanks

[2017-04-28 18:11] kbagchiGWC commented on #32
@dalwadi2 apologies for missing this earlier.

You do not need to `register` to make an outbound call. For making a call - the acess token need to have
  - Valid Account SID
  - Valid API signing key and secret

For successful registration - you also need to have a valid credential SID (CRxxxx). Can you send the  access token at kbagchi@twilio.com or open a support ticket with that information and

[2017-04-30 10:31] Baron1Pampa opened #36 "API for waiting/busy call"
Assuming I've got 2 android client. I call from client A to client B via Voice#call(). Client B currently receives CallInvite via FCM. So far so good. But client B currently has call in progress, so I need to issue CallInvite#reject method. But is there an API to notify client A that client B is busy (sound a busy sound?)
E.g. add params to CallInivte#reject method?

[2017-05-01 06:12] abhinay-w3bminds opened #37 "No voice on call but it can be heard from recordings."
Mostly it works fine. But sometimes we found no voice on both side but in recordings provided by twilio it can be heard. So is this network related issue? Do I need to provide any log. Please help.

[2017-05-01 15:49] iphubpush opened #38 "Getting call loop when disconnecting the call or receiver not answering the call."
With this new voice SDK, I have implemented the complete call flow for outbound and inbound call. I have multiple twilio numbers.
When calling a twilio number from another one, and after some rings if I am disconnecting the call from my side or if no one responds from the other side, again I am getting an incoming call which going into a loop. Once its coming to caller number and after one or two

[2017-05-02 01:47] TuanTuan commented on #33
thanks, I will have try.

I have another problem about incoming call. In the sample code, if the payload data in FCM not null, the data will be passed to Voice SDK to handle incoming call, like following :
[code]
But in our app, we also use FCM to send our own payload data. So if there is any special data (key/value) in the FCM message payload data, I can use it to check if the message is coming f

[2017-05-02 06:05] angsm commented on #32
Hi,

I am also having the same issue:

05-02 06:03:21.843 11576-11576/com.twilio.voice.quickstart E/VoiceActivity: Registration Error: 20101, Invalid Access Token

Would this be due to my Twilio account being in Trial mode?

[2017-05-02 06:55] abhinay-w3bminds commented on #37
i got the event which triggers this situation but no solution. When I try to call when phone is in DO NOT DISTURB mode then this occurs. DND feature is available from android 6.0(Marshmellow)'.

[2017-05-02 12:29] abhinay-w3bminds commented on #37
Logcat:

                                   Failed to fetch the lookup information of the device 00000004
05-02 17:57:24.364 281-5234/? D/ACDB-LOADER: ACDB -> AUDIO_SET_AFE_CAL
05-02 17:57:24.364 281-5234/? D/ACDB-LOADER: ACDB -> send_hw_delay : acdb_id = 4 path = 1
05-02 17:57:24.364 281-5234/? D/ACDB-LOADER: ACDB -> ACDB_AVSYNC_INFO: ACDB_CMD_GET_DEVICE_PROPERTY
05-02 17:57:24.364 5357-5376/? W/

[2017-05-02 12:33] dalwadi2 commented on #32
@kbagchiGWC Solved issue.
identity not properly generated from the backend that's why incoming call not came.
thanks for the help.

@angsm it's not about Trial or Paid Account.

[2017-05-02 12:33] #32 closed

[2017-05-02 13:50] dalwadi2 commented on #30
No. @ssadovnikov
it's not necessary to Register when you only want an outgoing call.
I've checked this one. @kbagchiGWC

Thanks.

[2017-05-02 18:10] kbagchiGWC commented on #36
@Baron1Pampa There is no API to do that. However, you can try to use [Twilio Notify library](https://www.twilio.com/docs/api/notify/guides/quickstart-android) to send a notification to Client A with reasons to decline the call.

[2017-05-02 18:39] kbagchiGWC commented on #38
@iphubpush Let me make sure I understand the use case and the issue.

1. Twilio number 1 calls Twilio number 2.
2. Twilio number 2 rings but does not answer the call.
3. Twilio number 1 disconnects the call.
4. Twilio number 2 rings again.

Is that correct?

Can you share the Call SIDs from the caller side (step 1), and callee side (step 2 and step 4)?
Thanks.

[2017-05-03 06:09] iphubpush commented on #38
@kbagchiGWC  No. The correct flow is,

1.Twilio number 1 calls Twilio number 2.
2.Twilio number 2 rings but does not answer the call. / or Twilio number 1 disconnects the call.
3.Twilio number 1 getting incoming call.

In option 2, two scenarios are there if twilio number 2 is not responding or twilio number 1 disconnects the call.  Hope you got my point.

[2017-05-03 06:20] kbagchiGWC commented on #38
@iphubpush please share you call Sids.

[2017-05-03 07:49] TuanTuan opened #39 "Issue about incoming call"
I have some questions about incoming call. In the sample code, if the payload data in FCM not null, the data will be passed to Voice SDK to handle incoming call, like following :
[code]
But in our app, we also use FCM to send our own payload data. So if there is any special data (key/value) in the FCM message payload data, I can use it to check if the message is coming from Twilio?

I debuged the

[2017-05-03 09:09] #33 closed

[2017-05-03 10:03] iphubpush commented on #38
1. Twilio number 1 calls Twilio number 2 (SID) -  CAd021d068e179c2c20e3a9890cd932791
2. Twilio number 2 incoming call (SID) -  CAb76eb9a250747b03ee061cbdf41fcd2d
3. Caller gets loop Incoming (SID) -  CA36af7e96b1317f2f86c2ecd00b754b6c
4. Callee gets loop Incoming (SID) -  CA5e2aedb7867c0571e478765ddb400b94

@kbagchiGWC  Please check the mentioned SIDs.

[2017-05-03 16:51] kbagchiGWC commented on #37
@abhinay-w3bminds we are trying to reproduce the issue. So far, we had no luck. Is this a device specific issue? What devices did you see this issue in?

[2017-05-03 18:20] idelgado commented on #37
@abhinay-w3bminds Since you are in Do Not Disturb, the device will not output sound, as expected, however DND does not prevent audio capture. Since audio capture is still occurring the audio will be sent to the Twilio Voice service and if recording is enabled the audio will be recorded.

[2017-05-03 21:45] kbagchiGWC commented on #39
@TuanTuan It should be safe to use `twi_account_sid` to differentiate twilio message from yours.

Receiving a cancel notification is not a bug. Twilio Voice Service is supposed to send cancel notifications to all other devices when one device answers the call. As of now, we do not filter out the device that answered the call. As a result, the cancel notification is sent to all devices registered w

[2017-05-04 01:55] TuanTuan commented on #39
OK，got it

[2017-05-04 01:55] #39 closed

[2017-05-04 03:02] TuanTuan opened #40 "Can not get the call ringing state?"
Hi team,

When make an outgoing call, there is only two call state event callback onConnected() and onDisconnected().
I noticed that after onConnected() be called, the phone began to ringing. and when conversation begin, there is no any other event callback.  So we can not correctly show the conversation time (when should we start to show the call time to use?),  How to detect the ringing state an

[2017-05-04 05:00] abhinay-w3bminds commented on #37
yes this is device specific issue. Moto E3 power and Moto g 3rd generation are devices in which this problem happens.

[2017-05-04 05:06] vassjozsef commented on #38
This is what looks like: client:iPhUser ->(twiml dial->phone number A) - incoming phone number A->Dial client:iPhUser

[2017-05-04 05:46] iphubpush commented on #38
Could you please explain, I am not getting your comment.

[2017-05-04 06:06] iphubpush commented on #38
If I am right you want to say that client:iPhUser  calls phone number A and after the complete incoming call phone number A again calling to client:iPhUser .
This is the expected behavior of my application, just I want to know why this last incoming call is going in a loop ? and what about the step 4 call Sid in my previous comment ?

[2017-05-04 19:38] kbagchiGWC commented on #40
@TuanTuan This is a gap in our backend infrastructure. Unfortunately it does not pass the call events like Answered back through our signaling channel in the SDK.

Another developer had the same question which we tried to provide a workaround for but admittedly it's a really annoying one to implement twilio/twilio-client-quickstart-android#39

We're working with our voice infrastructure team to ge

[2017-05-05 15:35] MisterRogersHaus opened #41 "Call.Listener delegate is never being called."
Just converted our app from twilio.client to twilio.voice. I connect just fine on initiating a call (Call instance is returned), but my Call.Listener delegates are never called. This is an outgoing call. Here's the relevant log dump. This is with beta6:

05-05 09:31:36.160 28261-28261/org.crowdmarket.crowdmarket I/InternetClasses.Phone: Twilio Voice Client Version: 2.0.0-beta6
05-05 09:31:36.331 2

[2017-05-05 22:14] kbagchiGWC commented on #41
@MisterRogersHaus Does it work for you with beta5? We have enabled STUN lookup in the SDK. Wondering if that is root cause of the issue you are seeing.

[2017-05-06 14:16] MisterRogersHaus commented on #41
Re: adding more logs - that's where it stalls; no more. I haven't tried beta5 - just jumped into converting to Voice a couple of days ago and went right to the latest. Would it be worth a try (reverting to beta5)?

[2017-05-07 10:09] fabriziomoscon opened #42 "Server API creation of FCM Push Credential undocumented"
Hi @kwhinnery,

When migrating to beta5 I found that some documentation is outdated:
https://www.twilio.com/docs/api/chat/rest/credentials

Error received from API endpoint `POST /Credentials`

[code]

You must pass `type=fcm` and `secret=<FIREBASE_CLOUD_MESSAGING_SERVER_KEY>`

[2017-05-08 17:08] kbagchiGWC commented on #41
@MisterRogersHaus we added STUN lookup in beta6. I was curious to know if STUN lookup caused the issue you are observing. Please give beta5 a try and let me know how it goes.

[2017-05-08 18:52] tuckercr opened #43 "Using == to compare Strings"
In VoiceActivity#handleIncomingCallIntent the following line is wrong

`            if (intent.getAction() == ACTION_INCOMING_CALL) {`

it should be

`if (ACTION_INCOMING_CALL.equals(intent.getAction())) {`

Similarly, this line is wrong:

`            } else if(intent.getAction() == ACTION_FCM_TOKEN) {`

it should be

`} else if (ACTION_FCM_TOKEN.equals(intent.getAction())) {`

[2017-05-10 00:10] MisterRogersHaus commented on #41
Seems STUN doesn't work in the emulator. When I run / debug on a device, all is well. Thanks. You can close (with the exception of maybe supporting the emulator).

[2017-05-10 00:16] MisterRogersHaus opened #44 "A/PJSIP: 17:20:56.567 pjsua_call.c .Error initializing media channel: Object is busy (PJ_EBUSY) [status=70011]"
Looking up this error - seems to be "pjsua_start()" not being called? Anyway, this error occurs when I try to transfer a call to a conference room. As expected, an 'onDisconnect' is triggered, but with an error code 3100, Generic Error.

[2017-05-10 00:29] kbagchiGWC commented on #44
@MisterRogersHaus can you provide detailed log?

[2017-05-10 00:30] MisterRogersHaus commented on #44
05-09 17:20:26.617 29076-29076/org.crowdmarket.crowdmarket E/InternetClasses.Phone: connect suceeded: client:57a4db26055a5a015e7ad990
05-09 17:20:26.620 29076-29076/org.crowdmarket.crowdmarket E/InternetClasses.Phone: SID:  Number: client:57a4db26055a5a015e7ad990 PartyLocation: direct_connect ConnectionType: device
05-09 17:20:27.681 29076-29076/org.crowdmarket.crowdmarket E/org.crowdmarket.crowdm

[2017-05-10 00:31] kbagchiGWC commented on #41
Thanks for the confirmation @MisterRogersHaus.

[2017-05-10 00:31] #41 closed

[2017-05-10 00:38] kbagchiGWC commented on #26
@KaiserSoze-2 I am closing the issue. If you encounter this in the future, open a new issue.

[2017-05-10 00:38] #26 closed

[2017-05-10 00:40] kbagchiGWC commented on #27
@KaiserSoze-2 I am closing this issue since we have not heard from you for a while. Please open a new one if you have doubts.

[2017-05-10 00:40] #27 closed

[2017-05-10 00:41] kbagchiGWC commented on #30
Closing it.

[2017-05-10 00:41] #30 closed

[2017-05-10 00:41] #36 closed

[2017-05-10 01:26] kbagchiGWC commented on #43
Code is updated. Thanks.

[2017-05-10 01:26] #43 closed

[2017-05-10 02:24] idelgado commented on #42
@fabriziomoscon we went ahead and updated the page https://www.twilio.com/docs/api/chat/rest/credentials#parameters Thanks for reporting this.

We will be adding snippets on how to create each credential type like on the notify page soon https://www.twilio.com/docs/api/notify/rest/credentials

[2017-05-10 02:25] #42 closed

[2017-05-10 21:57] kbagchiGWC commented on #44
@MisterRogersHaus how are to initiating the transfer? I want to understand your use case. If you feel uncomfortable sharing the details here - please open a support ticket and let me know the ticket number.

[2017-05-11 14:55] fabriziomoscon opened #47 "BETA6: I cannot make a call: Generic Error"
on Emulator Android 7.0.0 Samsung 8

I am using the react-native fork:
https://github.com/hoxfon/react-native-twilio-programmable-voice/pull/21
I managed to integrate beta5 and it works perfectly with FCM. But when I upgrade the same code to beta6 I received these errors:

[code]

Attache there is a screen shot of my debug session in Android Studio.
![screen shot 2017-05-11 at 15 50 03](https://cl

[2017-05-11 17:46] kbagchiGWC commented on #47
@fabriziomoscon We added STUN lookup in beta6. STUN lookup does not work in emulator. Can you use a device to re-test?

[2017-05-11 18:16] fabriziomoscon commented on #47
I see, I will try.
For my curiosity what are the benefit of this change? Is that something I should do for my app as well?

[2017-05-11 22:31] fabriziomoscon commented on #47
@kbagchiGWC I have tested form a real device and I got a crash when accepting a call

[code]

[2017-05-12 00:57] kbagchiGWC commented on #47
@fabriziomoscon interesting - we have not see this issue. We are in the process of removing STUN lookup from the SDK and will release beta8 soon(hopefully tomorrow). Stay tuned. Until then please use beta5.

[2017-05-12 04:59] kbagchiGWC commented on #38
@iphubpush Closing this ticket based on out discussion on the support ticket #944868.

[2017-05-12 04:59] #38 closed

[2017-05-12 12:32] PingForward commented on #47
@kbagchiGWC I have the same issue using this quick-start project. Even on real device Generic Error 31000

[2017-05-12 12:53] PingForward opened #49 "soundPool NPE"
For example you create an instance `soundPoolManager = SoundPoolManager.getInstance(this);` in CallActivity
Then call relese method in onDestroy
[code]

If you go to CallActivity second time `soundPoolManager = SoundPoolManager.getInstance(this);` will return existing static instance with null soundPool object. SoundPoolManager constructor will not be called

[2017-05-12 17:59] kbagchiGWC commented on #47
@PingForward - I am certain this is not the same issue. `code=403 reason=Forbidden` means there is something wrong with the access token use to make a call. What version of the SDK are you using?

[2017-05-12 18:04] kbagchiGWC commented on #49
@PingForward how do u "If you go to CallActivity second time"? How is `soundPoolManager` becoming `null`?

[2017-05-14 07:42] Baron1Pampa opened #50 "reject call without RECORD_AUDIO permission"
Currently (SDK version 2.0.0_beta7) there's no possibility to reject the call if the user didn't accept RECORD_AUDIO permission.
As for the following code snippet taken from CallInvite#reject method
`if(!Utils.isAudioPermissionGranted(context))
{
            throw new SecurityException("Requires the RECORD_AUDIO permission");
}`
the SecurityException will be thrown if RECORD_AUDIO permission is no

[2017-05-14 23:10] idelgado commented on #50
@Baron1Pampa Thanks for the feedback. I agree with your feedback. This is some technical debt we need to address. The ideal behavior is to not require the audio permission to reject the `CallInvite`. I'll post an update once we fix this behavior.

[2017-05-15 02:37] idelgado commented on #49
@PingForward Thanks for reporting this. I submitted a PR to fix this.

[2017-05-15 06:42] PingForward commented on #47
@kbagchiGWC it seems our server generate tokens for the older version of twilio client (twilio-client-quickstart-android) but i'm using voice-quickstart-android. Is tokens compatible with each other?

[2017-05-15 20:41] kbagchiGWC commented on #47
@PingForward - no they are not compatible. Android Voice SDK expects an `Access Token`. You will  find the details in https://www.twilio.com/docs/api/voice-sdk#authenticationauthorization and https://www.twilio.com/docs/api/rest/access-tokens.

[2017-05-16 07:29] TuanTuan opened #52 "Not support armeabi ?"
Hi team,

I met a problem when integrate Twilio android voice SDK 2.0.0-beta5. There is no native lib (libvoice.so) for armeabi, so the sdk can not work in some devices. How to get it be supported?

[2017-05-16 07:40] TuanTuan commented on #52
I will test again

[2017-05-16 10:14] daroltidan opened #53 "CallInvite.State returns bad values"
If user A calls user B. And user B answers the call then user B receives the notification with  CallInvite.State.CANCELED

[2017-05-16 12:31] abhinay-w3bminds opened #54 "bad call quality in android"
In android voice call quality is not good as in ios. Both devices are tested in a very good network state. Is there any voice quality setup in sdk? So that voice quality can be adjusted to for different network states.

[2017-05-16 15:33] idelgado commented on #49
I've merged the PR. Let me know if this resolves the issue you encountered.

[2017-05-16 23:00] kbagchiGWC commented on #53
@daroltidan -  Receiving a cancel notification is not a bug. Twilio Voice Service is supposed to send cancel notifications to all other devices when one device answers the call. As of now, we do not filter out the device that answered the call. As a result, the cancel notification is sent to all devices registered with the same identity. We plan to improve the experience but don't have a timeline

[2017-05-17 00:09] kbagchiGWC commented on #47
@fabriziomoscon we have removed STUN lookup and release [beta8](https://www.twilio.com/docs/api/voice-sdk/android/changelog). Can you please try it and let me know if the issue you mentioned above is resolved?

[2017-05-17 03:17] TuanTuan commented on #52
reopen because can not resolve the issue....

We met a problem when integrate Twilio android voice SDK 2.0.0-beta5. There is no native lib for armeabi.

because we integrate other third party lib in gradle, and have to filter the abi setting like following :

ndk {
    abiFilters 'armeabi', 'x86'
}

but there is no armeabi folders in Twilio android voice SDK 2.0.0-beta5. :

$tree
.
├── arm64-v8a
│

[2017-05-17 09:25] daroltidan commented on #53
Yes, I understand but I think a better handling of the notification can be done if the actual status is used. Pending = show notification. Answer, cancel and rejected = hide notification. Cancel might also mean you can show the called user he has a missed call. Rejected can be used to give the user an option to call him back. A lot of nice features can be added to any android app that uses Twilio

[2017-05-17 18:09] #49 closed

[2017-05-18 00:16] kbagchiGWC commented on #52
Hi @TuanTuan - unfortunately we don't support `armeabi` in Android Voice SDK.

[2017-05-18 00:17] kbagchiGWC commented on #54
Hi @abhinay-w3bminds - do you have a call sid that you can share with us?

[2017-05-18 09:18] Alhima commented on #54
I have experienced the same issue, it happens only with low-end Devices. When we are using twilio in a connexion of Samsung s7- Samsung s7 (on app to App VoIP) everything works normal. When we change to a connexion with a Bq A4.5 and SG7 it turns on continuos "robotic" call quality and a lot of cuts in the voice.

[2017-05-19 23:55] fabriziomoscon commented on #47
@kbagchiGWC it is working! Both outbound and inbound. Great

[2017-05-19 23:55] #47 closed

[2017-05-22 06:26] abhinay-w3bminds commented on #54
CA30a8c506606cfbbe05fe08f8d415a926 - android to android(voice quality is not so good)

CA94503b1d18491e4cbd726185072fae60 - android to ios(same as above)

CAff8e5949692dbee02d20049f215b55ad - ios to ios(better than above to)

[2017-05-25 00:07] kbagchiGWC commented on #54
@abhinay-w3bminds I will take a look at these call sids and get back to you.

[2017-05-25 00:11] kbagchiGWC commented on #53
@daroltidan Thanks for the ideas. I agree with you - the notification bundle and `CallInvite.State` should make it easy to implement the uses cases you mentioned.  However, `voice-quickstart-android` is a project to get started with the SDK and does not handle all use cases. We intended to keep it simple.

[2017-05-25 00:11] #52 closed

[2017-05-25 16:22] tuckercr commented on #50
If your app, if User B doesn't have RECORD_AUDIO permission, then wouldn't it be best to not to register the softphone on his client?  In my app I don't even get the access token until after I get this permission.

Of course, a user can disable a permission at any time, but there's not much we can do about that.

[2017-05-27 06:19] kbagchiGWC commented on #54
@abhinay-w3bminds looked at the call sids you provided. Didn't find a consistent voice quality issue in `CA30a8c506606cfbbe05fe08f8d415a926`. I hear a echo at the beginning of the call and then it gets better as the call progresses. Saw few packets loss towards the end of the call in the call stats which can be caused by network condition.

I have listened to `CA94503b1d18491e4cbd726185072fae60` a

[2017-05-29 14:52] Alhima commented on #54
Hi @kbagchiGWC ,
I did put the LogLevel to Debug and I did some calls with it enabled:

    1. “CAedf575342ad5b5be38cd7b1c324b22dc” >> Samsung Galaxy S7 -> BQ Aquaris M5 : The Quality of the sound was good in both Sides.

   2. “CA7fcaf6bbd53057489f42a0f834f3bcdd” >> BQ A4.5 -> BQ AQuaris M5 : The Quality of the call in both devices was worse than the one with the SG7, “Robotic voice” in all the c

[2017-05-31 20:59] Baron1Pampa commented on #50
Again RECORD_AUDIO permission is to access device microphone. If user reject call, no microphone access required. So, why this permission is relevant upon call reject?

[2017-05-31 23:01] kbagchiGWC commented on #50
@Baron1Pampa we have fixed this issue in our [beta9](https://www.twilio.com/docs/api/voice-sdk/android/changelog) release. Please try it out.

[2017-06-01 09:16] Baron1Pampa commented on #50
@kbagchiGWC Thanx! Works like a charm in beta9

[2017-06-01 22:04] NightlyNexus opened #58 ""Transport Error" message in CallException on WiFi"
After calling `CallInvite.accept`, I'm getting the `Call.Listener.onDisconnected` callback with a `CallException` with a "transport error" message.
I can reproduce this error reliably on WiFi. (I had originally thought it was only on my office WiFi network, but I was wrong.)
This always happens on WiFi and never happens on LTE for me.

P.S. on sdk version 2.0.0-beta8

<details>
<summary>Logs</summ

[2017-06-01 22:07] NightlyNexus commented on #58
Thank you for the link. It looks like it's all WiFi networks that I've tried now, and these networks work on the iOS sdk.
Anything else obvious I might be doing wrong?
https://github.com/twilio/twilio-client-quickstart-android/issues/42#issuecomment-305633849

[2017-06-02 18:49] kbagchiGWC commented on #58
@NightlyNexus can you `Voice.register()` using the wifi network?

[2017-06-02 18:59] NightlyNexus commented on #58
Yes, `Voice.register` gets me the `onRegistered` callback on WiFi.

[2017-06-06 00:42] NightlyNexus commented on #58
I ended up not using the Twilio SDK and won't be able to provide support for this ticket.
Sorry for the noise.

[2017-06-06 00:42] #58 closed

[2017-06-06 04:48] abhinay-w3bminds commented on #54
CA59dd379a2e5c6c9e64246b81946da689  - this recording has volume issue

[2017-06-06 08:15] Alhima opened #59 "cuts in Android SDK Calls"
I have been trying the SDK in iOS and Android in the same network, at the same time. (Mobiles phones were side by side)
And I´m experiencing problems just with the Android Devices. Every call, in some moment (not the same minute every time), the call cuts the voice for 15-20 seconds and you can´t hear anything in both sides.
I have been monitoring this, and the Android Studio Monitor shows me that

[2017-06-06 15:37] idelgado commented on #59
@Alhima What device(s) did you experience this on? Does Android Studio monitor show the same issue with any streaming type of app?

[2017-06-06 15:46] Alhima commented on #59
@idelgado this is happening in almost every call I have. Between Samsung Galaxy S7-BQ M5, BQ4.5-S7, S7-S7. Almost in every call I have with the Android SDK we are experiencing this issue, the voice goes off for 20 seconds and then the call reconnects.
This is happening just in Android SDK, because we build both clients and tried both at the same time in the same network, and we just got that probl

[2017-06-06 16:26] Alhima commented on #59
@idelgado Just in case this could help:
I just enable Recordings in the calls and tried to do some calls. We experienced some cuts in the call, but the recording was completely ok, without any Cut.

[2017-06-07 10:41] aashu09 opened #60 "Voice quickstart getting crashed when dialing a number"
Hi,

I am using Twilio Voice Quickstart for Android to implement programmable voice and its implemented successfully but I am getting an issue of crash of Twilio SDK.

Scenario -

I am making call by dialing a number, call is connecting properly.
Then internet disconnected in between running call, call disconnected from my end.
Then internet reconnected and I am going to dial a number again, after

[2017-06-07 13:05] kapilojha opened #61 "Voice Quickstart Android getting Crashed"
Hi,

I am using Twilio Voice Quickstart for Android to implement programmable voice and its implemented successfully but I am getting an issue of crash of Twilio SDK.

Scenario -

I am making call by dialing a number, call is connecting properly.
Then internet disconnected in between running call, call disconnected from my end.
Then internet reconnected and I am going to dial a number again, after

[2017-06-07 20:26] girtis opened #62 "This is a test issue"
Please ignore

[2017-06-07 20:27] girtis commented on #62
This was a test. Closing.

[2017-06-07 20:27] #62 closed

[2017-06-08 05:15] aashu09 commented on #60
@kbagchiGWC ANy update on above issue?

Its very urgent, please I am upgraded user of Twilio and use lots of twilio calling.

[2017-06-08 05:17] roshanparmar commented on #61
@kbagchiGWC Please response. I need to resolve it urgently.

[2017-06-08 05:49] kbagchiGWC commented on #60
@aashu09 I will reproduce the issue and provide an update soon. What version of the SDK are you using?

[2017-06-08 06:59] aashu09 commented on #60
@kbagchiGWC thanks for your response.

I am using twilio version - com.twilio:voice-android:2.0.0-beta10

*Please provide me the solution as soon as possible.*

*I am your upgraded user with the id "robert@callproof.com
<robert@callproof.com>" and use lots of payable functionality of
Twilio, so please provide me solution as soon as possible.*

*I have to release my app to client, so please help me

[2017-06-08 07:17] kapilojha commented on #61
@kbagchiGWC my email-id has changed.

[2017-06-08 08:22] aashu09 commented on #60
I am giving you the scenario for issue -

1. open the app and dial call
2. disconnect from wifi in between running call
3. call will automatically be disconnected
4. reconnect wifi
5. again dial call
6. call will immediately disconnect and application will be crashed

Follow above scenario, you will find the issue.

Thanks

[2017-06-08 11:22] aashu09 commented on #60
Please response, its urgent.

[2017-06-09 05:06] aashu09 commented on #60
Have you find any solutions ?

[2017-06-09 05:07] kapilojha commented on #61
Have you found any solution,please response.

[2017-06-09 17:03] kbagchiGWC commented on #60
@aashu09 We are able to reproduce the crash. The crash happen when a call is initiated with network availability. You can reproduce it easily by putting the phone in airplane mode and initiating a call. We are debugging the issue, will let you know as soon as we have a fix.

Thanks for reporting the issue.

[2017-06-09 17:58] aashu09 commented on #60
Ohh thank god, you found that.

Please resolve that issue in earliest day because i have to give my
application to customers in the starting of next week, so please help me
out from this as soon as possible.

I know this SDK is on beta version and issues might come but really
thankful that you are always ready to resolve them.

Thanks again and looking for solution as soon as possible.
On 09-Jun-2

[2017-06-10 00:01] kbagchiGWC commented on #61
@kapilojha Thanks for filing the issue.

We are working on a fix for this and will have a solution available as soon as possible. This issue is same as https://github.com/twilio/voice-quickstart-android/issues/60 and being tracked on our internal bug tracking system as [CLIENT-3729](https://www.twilio.com/docs/api/voice-sdk/android/changelog).

[2017-06-10 00:06] kbagchiGWC commented on #50
Closing it.

[2017-06-10 00:06] #50 closed

[2017-06-10 00:07] kbagchiGWC commented on #53
Answered and closing it.  @daroltidan if you have further question, please open a new issue.

[2017-06-10 00:07] #53 closed

[2017-06-12 07:08] aashu09 commented on #61
Thank you for your response, I am looking for CLIENT-3729 and its showing me known issue right now. Waiting for a fix.

[2017-06-12 07:08] kapilojha commented on #61
Thank you for your response, I am looking for CLIENT-3729 and its showing me known issue right now. Waiting for a fix.

[2017-06-12 09:10] aashu09 commented on #60
Any update on my issue?
Please response.

[2017-06-12 11:12] aashu09 commented on #60
The same above issue is coming on Incoming calls too when play with networks, so please test on both Incoming as well as outgoing and resolve it ASAP.

Thanks

[2017-06-12 13:23] kapilojha commented on #61
Facing same issue in Incoming call because of network.
Please check it and response.

[2017-06-12 13:23] aashu09 commented on #60
Please response as I am only looking for your solutions.
Thanks

[2017-06-12 19:22] senatorsfc opened #64 "Invalid Access Token Issue (Beta 10)"
Hello,

We're trying to upgrade to use the Android Voice Client SDK (2.0.0-BETA10), and we're running into issues registering the device for push notifications with FCM.

When we register the Voice SDK, we get an error back saying Error 20101 Invalid Access Token, TNException : Couldn't create registration.

When I look at the token that is generated by our server, it seems to be valid & signed co

[2017-06-12 20:03] kbagchiGWC commented on #64
@senatorsfc The same token works with beta9?

[2017-06-13 02:37] kbagchiGWC commented on #61
@kapilojha We are working on the fix. I will let you know as soon as it is available.

[2017-06-13 02:39] kbagchiGWC commented on #60
@aashu09 We are working on it. I will let you know when the fix is available.

[2017-06-13 05:07] aashu09 commented on #60
Thats will be helpful to me. I am waiting for update.

Thanks

[2017-06-13 05:08] kapilojha commented on #61
Ok, I waiting for the fix.

Thank you.

[2017-06-13 06:36] rizwanulhaque opened #65 "Call Error: 31001, TwiML application not found"
I am trying to use the voice-quickstart-android and done everything as suggested. But still not able to connect the call. It is giving me error Call Error: 31001, TwiML application not found.

06-13 12:04:51.626 19481-19481/com.twilio.voice.quickstart V/SettingsInterface:  from settings cache , name = sound_effects_enabled , value = 0
06-13 12:04:51.628 19481-21377/com.twilio.voice.quickstart V/Au

[2017-06-13 13:36] senatorsfc commented on #64
@kbagchiGWC No Beta10 is the first version we're implementing, I have not tried other beta versions.

[2017-06-13 18:44] kbagchiGWC commented on #61
@kapilojha this is fixed in [beta12](https://www.twilio.com/docs/api/voice-sdk/android/changelog). Let me know if you have any questions.

[2017-06-13 18:44] kbagchiGWC commented on #60
@aashu09 this is fixed in [beta12](https://www.twilio.com/docs/api/voice-sdk/android/changelog). Let me know if you have any questions.

[2017-06-14 05:26] aashu09 commented on #61
That's great, I will check and inform you.

[2017-06-14 05:27] kapilojha commented on #61
Great effort.
I will update you soon about fix.

Thanks

[2017-06-14 05:47] aashu09 commented on #61
Crash is resolved in updated beta12 but something is strange in this i.e.

When call disconnects because of network loss and when again network comes, then I dial a call but call not connecting.
I have tried many times but call is not connecting yet.

JNI issue is resolved and I really appreciate to you. Please one more thing, please make it callable after network reconnection.

Here are logs when

[2017-06-14 06:04] aashu09 commented on #60
Really appreciate for JNI error. Its looking solved in beta12 but I am getting an another error in the same scenario and beta12 i.e.

When in the same above scenario, network reconnect after connection loss and I dial a call then call is not able to connect. I have tried it again and again but not able to dial a call.

Scenario -

1. open the app and dial call
2. disconnect from wifi in between ru

[2017-06-14 06:16] kapilojha commented on #61
beta12 is much promising for JNI error but its not allow me to dial a call after network reconnection that means When Network disconnect and again reconnect then I dial a call but call is not able to connect.
I am giving you the scenario -

1. I am making call by dialing a number, call is connecting properly.
2. Then internet disconnected in between running call, call disconnected from my end.
3.

[2017-06-14 10:28] aashu09 commented on #60
Please response.

[2017-06-14 10:29] kapilojha commented on #61
Have you looked the issue?
Please response.

[2017-06-14 13:54] kapilojha commented on #61
Please look at this and response.

[2017-06-14 16:11] kbagchiGWC commented on #60
@aashu09 was the network available  when the call was made? The log above seems like the scenario when the call was established, then the network was disconnected and after that the user tried to disconnect the call. It failed at that point with `com.twilio.voice.impl.session.SessionException: pjsua_call_hangup(): Network is unreachable` error message.

It is important to keep in mind that the Voi

[2017-06-14 16:18] kbagchiGWC commented on #61
@kapilojha I am going to close this ticket as a duplicate of https://github.com/twilio/voice-quickstart-android/issues/60. Both are using the same account sid and reporting the same issue.  If you can justify why these two issues should be separated, please let me know.

[2017-06-14 16:18] #61 closed

[2017-06-14 16:19] kbagchiGWC commented on #64
@senatorsfc can you please open a support ticket and share you accesstoken? Once you file the ticket, let me know the ticket number.

[2017-06-14 17:09] senatorsfc commented on #64
@kbagchiGWC Sure thing. Ticket # 987641

Thanks

[2017-06-14 17:15] kbagchiGWC commented on #64
@senatorsfc can you recreate the API key and the secret? Please make sure to not share these between accounts. For example, if you are using a sub account - you cannot use the master account 's API key/Secret for sub account.

[2017-06-14 18:14] kbagchiGWC commented on #60
Scenario -

1. open the app and dial call
2. disconnect from wifi in between running call
3. call will automatically be disconnected
4. reconnect wifi
5. again dial call
6. call will immediately disconnect and not able to call anymore.

At step #6 - the call is failing immediately indicates the the network is still not available. You should be seeing logs similar to below when this happens. What i

[2017-06-15 05:20] aashu09 commented on #60
Scenario -

1. open the app and dial call
2. disconnect from wifi in between running call
3. call will automatically be disconnected
4. reconnect wifi
5. again dial call
6. call will immediately disconnect and not able to call anymore.

You told network is not available but network is available after step 6 however call is not connecting.

I have tested it on https://github.com/twilio/voice-quicks

[2017-06-15 05:53] aashu09 commented on #60
In the above scenario, click on call button just after reconnection of network and hit continously untill call will not be connected successfully,call will be connect after 20-30 hit on call button.

Please check the scenario. I am also attaching a video of issue with this comment, please see and resolve it as soon as possible.

Thanks
[Voice issue video.zip](https://github.com/twilio/voice-quicks

[2017-06-15 13:14] aashu09 commented on #60
Please response.

[2017-06-15 16:58] kbagchiGWC commented on #65
@rizwanulhaque Can you check the app sid in the access token? This error means that the Twilio backend was not able to locate the app sid. If you still have issues, open a support ticket with the access token you are using for the call. Let me know the ticket number once filed.

[2017-06-16 06:32] aashu09 commented on #60
Have you reproduce the issue?

Please response

[2017-06-16 08:20] aashu09 commented on #60
**Please understand the situation**. **Its an urgent issue** which I have to fix **ASAP**.
**I have been waiting for your response**, so please at-least response.

[2017-06-16 13:48] aashu09 commented on #60
Have you looked the issue and video?

Can you please response?

[2017-06-16 14:33] idelgado commented on #60
We're currently testing a fix for this issue.

We appreciate your feedback and logs but in general commenting repeatedly won't lead to a faster resolution.

[2017-06-16 15:00] aashu09 commented on #60
I am happy to hear about testing on fix.

I am repeatedly commenting you just because of no response from your end.

Thanks for response and heartly waiting for the fix.
On 16-Jun-2017 8:03 PM, "Iñaqui" <notifications@github.com> wrote:

[2017-06-16 15:27] idelgado commented on #60
Cool. We will follow up shortly. Thanks!

[2017-06-16 19:49] aashu09 commented on #60
Well, its very nice to listen that you are working on issue.
Appreciate your work and support.

Thanks...just waiting for a fix
On 16-Jun-2017 8:57 PM, "Iñaqui" <notifications@github.com> wrote:

[2017-06-19 16:50] idelgado commented on #60
@aashu09 We are adding test coverage for network handover scenarios in our test environment. We are still working to fix the issue and will provide another update soon.

[2017-06-20 06:43] aashu09 commented on #60
Ok, Now when I see on Changelog form of Twilio then its showing beta12 to latest version.
I think you didn't provide updated sdk to implement in application as you are still working on fix.

I am waiting for the update because I have released my build to client and written above issue as "Known issue", so they are also waiting to resolve it.

appreciate your work and thanks for response.

[2017-06-20 19:40] Migraine-42 opened #67 "programatic creation of fcm credential fails"
$credential = $client->ipMessaging->credentials->create(
                "fcm",
                [
                    "friendlyName" => "madamada",
                    "secret" => "valid fcm server key",
                ]
            );

This fails with an exception stating that "Secret" is required.  But works with the api explorer.    I've tried "Secret" and with a valid fcm key (server key from

[2017-06-20 20:00] Migraine-42 opened #68 "Really bad sound quality"
This has been happening at least since beta2.  It's such an obvious problem I've assumed it would be tackled sooner rather than later.  But it happens rarely & I have no idea how to reproduce it.  I've been testing on a Samsung Galaxy S7 (SMG930T) Android 7.0.  After about a week the "crappy sound" happens.  And it happens on beta12.

The sound that I have been using to characterize the anomaly is

[2017-06-20 21:24] kbagchiGWC commented on #65
@rizwanulhaque do you have any update on this? Are you able to make progress?

[2017-06-20 22:45] Migraine-42 commented on #67
I don't know why this was labeled "question".  Its a bug.  Either the documentation is wrong or the code is failing.

[2017-06-20 23:17] kbagchiGWC commented on #67
@Migraine-42 I have pinged the Notification team who is responsible for this feature to take a look. It is a question until they get a chance to evaluate the issue and decides the next steps.

Labeling this as a `bug` won't lead to a faster resolution.

[2017-06-21 00:40] kbagchiGWC commented on #60
@aashu09 - The Voice SDK does not check network connectivity before initiating a call. The application has to guarantee the network  availability before making a call. In your scenario - the connectivity gets lost when the wifi is switched off, then it gets turned back on. It takes some time for a network to be connected and available after it gets switched on. From the attached video, it looks li

[2017-06-21 05:42] aashu09 commented on #60
Yes you are right that I should check network connectivity in my own app but I have already implemented a code to check network connectivity and If any user hit a call button without network then app shows a Toast message for "No internet connection".
In above video, network connected successfully before hit the call button.

I have already implemented that scenario only I have fired this issue to

[2017-06-21 05:44] aashu09 commented on #60
@idelgado said that you are working on a fix but now you saying another thing.

Please understand my situation too and try to fix ASAP.

Thanks

[2017-06-21 06:21] idelgado commented on #60
@aashu09 Unfortunately @kbagchiGWC was not able to reproduce the issue described above. There was another network handover issue that was found that we thought was related but we don't believe that is the case after further investigation.

We're working to reproduce the issue on other devices. Based on the video I agree, you should be able to successfully make a call once the wifi reconnects.

[2017-06-21 06:22] aashu09 commented on #60
@kbagchiGWC and @idelgado you can see new attached video with this comment.
In this, you can see that network is properly connected with device however call is not able to connect.

This video is made with Voice quickstart SDK.

See this and response.

[Voice video with network.zip](https://github.com/twilio/voice-quickstart-android/files/1090476/Voice.video.with.network.zip)

[2017-06-21 06:24] aashu09 commented on #60
@idelgado please again look my new video and try to reproduce the issue.

I know you are trying your best but please see in video, the issue is coming.

Thanks

[2017-06-21 08:11] viktormuller commented on #67
@Migraine-42 Thanks for reaching out. The docs seem to be the culprit here. The right parameter names are `FriendlyName` and `Secret`.

I cannot find the documentation for Chat or Voice SDK that shows lower camel case parameter names. Can you point me to the documentation so that I can fix it. Thanks again for reporting.

[2017-06-21 08:20] aashu09 commented on #60
Have you looked the new video ?

Please response.

[2017-06-21 16:14] Migraine-42 commented on #67
The documentation matches your description.  So, no problem there.  And I solved "the bug".  I was using a php helper library that was about a year old.  I upgraded to the latest helper library & it works now.

[2017-06-21 16:52] idelgado commented on #60
@aashu09 we are able to reproduce the issue now and are investigating a fix.

[2017-06-22 02:28] aashu09 commented on #60
Oh thank you so much.
Now please fix it soon.
On 21-Jun-2017 10:23 PM, "Iñaqui" <notifications@github.com> wrote:

[2017-06-22 04:44] kbagchiGWC commented on #60
@aashu09 we were able identify the root cause and fix the issue you have reported. Once the fix is approved by our QA team, we will make it available. I will keep you posted.

[2017-06-22 06:18] aashu09 commented on #60
Really thankful to you.
Please update me when you will fix it.
On 22-Jun-2017 10:14 AM, "kbagchiGWC" <notifications@github.com> wrote:

[2017-06-22 09:57] viktormuller commented on #67
Great to hear that. Let us know if you have any other questions.

[2017-06-22 20:07] kbagchiGWC commented on #60
@aashu09 can you share your e-mail address? We can share the release candidate with you to make sure your issue is fixed. We have identified another network handoff corner case that we are working through. Once this is fixed and passed by our QA team - we will have an official beta release available.

[2017-06-23 01:59] aashu09 commented on #60
Yes, definitely.
You can mail me on
aashu.sharma.09.90@gmail.com  and
kapil@callproof.com

Please email on above both emails.
On 23-Jun-2017 1:37 AM, "kbagchiGWC" <notifications@github.com> wrote:

[2017-06-23 03:01] Migraine-42 opened #70 "Beta12 closes websocket"
After I successfully register ala

 Voice.register(mContext, accessToken, fcmToken, mRegistered);

I put a breakpoint on my websocket close event handler & wait for about 1.5 mins & my websocket gets closed.  Only on android, the same code runs fine on chrome.  I have no code in my app that explicitly closes my websocket.  The only way _I_ can close it is to exit the app.

(I'm using websocket in

[2017-06-23 05:58] kbagchiGWC commented on #60
@aashu09 I have attached the release candidate above ^. Please try this out and let me know if this fixed the issue.

[2017-06-23 06:03] #67 closed

[2017-06-23 06:57] aashu09 commented on #60
Okay, i will try it and inform you.
Thank you for helping me.

[2017-06-23 18:31] Migraine-42 commented on #70
This problem is actually related to Android power conservation.  Even though the screen is active, android will shut down idle sockets.  To fix the problem I added a one minute keep alive msg to my websocket handler.

[2017-06-23 18:31] #70 closed

[2017-06-26 05:39] kapilojha commented on #60
@kbagchiGWC I have tried twilio-voice-android-2.0.0-rc71.aar by steps you said but application is crashing when I initiate the call means when I click on Call button to initiate call its crashing and also when I need to reopen the application after crash it never allow me to open the app and immediately crashing.

Please look at the DEBUG logs I am providing below to test on https://github.com/twi

[2017-06-26 07:13] sashjakk commented on #60
@kapilojha Hey, according to your stack trace you are missing one vital dependency - [ReLinker](https://github.com/KeepSafe/ReLinker). You can see that Voice SDK uses it from bintray in this [POM file](https://bintray.com/twilio/releases/download_file?file_path=com%2Ftwilio%2Fvoice-android%2F2.0.0-beta13%2Fvoice-android-2.0.0-beta13.pom).

To resolve the issue just add `compile 'com.getkeepsafe.re

[2017-06-26 08:38] aashu09 commented on #60
@sashjakk when I add compile 'com.getkeepsafe.relinker:relinker:1.2.2', application is working without any crash but as I see before I never used this dependency with Voice SDK. I don't know why this time its needed it ?

@kbagchiGWC I have tested "twilio-voice-android-2.0.0-rc71.aar" as said by you and Its working ok ok means in the same network scenario, initially 1-2 times it does not connect c

[2017-06-26 12:56] aashu09 commented on #60
Please response.

[2017-06-26 21:47] kbagchiGWC commented on #60
@aashu09 we are working on an official release. Will let you know when it is available.

[2017-06-27 04:57] aashu09 commented on #60
Okay but please release it as soon as possible.

[2017-06-27 20:16] kbagchiGWC commented on #60
@aashu09 we have officially released the fix in [beta14](https://www.twilio.com/docs/api/voice-sdk/android/changelog). We appreciate your feedback and bringing this issue to our attention.

Let me know if you have any questions.

[2017-06-28 10:29] aashu09 commented on #60
That's amazing. I will test the beta14 and let you know as soon as possible.
Have you also test all above fixes in iOS SDK ? I will implement that also.

Really thanks for all your support and appreciate your patience about my feedback.

[2017-06-28 17:59] kbagchiGWC commented on #60
@aashu09 iOS SDK does not have this issue.

[2017-06-29 03:42] aashu09 commented on #60
@kbagchiGWC Thank you for all your help. I have tested beta14 and found it working properly till now.
Really appreciate for your work.

[2017-06-29 08:35] kbagchiGWC commented on #60
@aashu09 thanks for testing and confirming the fix. I will close the issue. If you have any further issues please let me know.

[2017-06-29 08:35] #60 closed

[2017-07-06 05:55] aashu09 opened #74 "Outgoing call not disconnecting"
Hi,

Please look at this, its urgent. I am using  'com.twilio:voice-android:2.0.0-beta14'.

When I dial a number and it running on data network(not wifi) then sometimes it does not disconnect for a long time i.e. I hit disconnect button it does not disconnect from call even continuous hit of disconnect button not disconnecting the call for a long time.

Here are debug logs, please look at this -

[2017-07-06 06:15] abhinay-w3bminds commented on #74
this happens to me too. I reverted beta 12 version for a temporary solution

[2017-07-06 06:34] aashu09 commented on #74
But I can not revert to beta12. I have faced some issues with beta12.
Please response as soon as possible.

[2017-07-06 08:39] aashu09 commented on #60
Hi,

Please look at the issue -
https://github.com/twilio/voice-quickstart-android/issues/74

I am getting this issue,so I have made a new ticket.
Please its urgent because I have given my build for live.

On Thu, Jun 29, 2017 at 2:05 PM, kbagchiGWC <notifications@github.com>
wrote:

[2017-07-06 12:53] ajitdubey-mob-ibtech commented on #39
@kbagchiGWC Today I have noticed that once I receive call then after few second receive cancel notification on the same device.
Kindly confirm is it really happened or any thing I missed.

[2017-07-06 19:00] kbagchiGWC commented on #74
@aashu09  There are many asynchronous operations that take place when a call is initiated and disconnected. If disconnect is called when a call is in `CallState.CONNECTED` state, it disconnects the call right away. If disconnect is called too early, i.e when the call is in
`CallState.CONNECTING` state, SDK waits for next internal call state transition to disconnect.

In your case, when you see an

[2017-07-06 20:31] kbagchiGWC commented on #74
@aashu09 FYI we have two outstanding issues where disconnecting call is delayed.
One is - call.disconnect is blocked when there is 100% network loss(CLIENT-3776) and the other is call.disconnect waits for all DTMF digits to be sent before disconnecting a call(CLIENT-3776) . We will looking at these in next couple of weeks.

[2017-07-07 03:55] aashu09 commented on #74
@kbagchiGWC Thank you for reply.

You said that when call is in CallState.CONNECTING state then waits for the SDK to disconnect the call which should be almost immediate, but what i am seeing is its not immediate means when call is in CallState.CONNECTING state and I hit disconnect then SDK takes some time(more time in some cases) to disconnect the call.
But user thinks that he is not able to disc

[2017-07-07 05:18] idelgado commented on #54
Sorry for the delay in investigating and addressing this. We've been hard at work fixing other issues though we realize audio quality is just as important. We'll be looking at this next week and will provide you with another update.

[2017-07-07 05:21] idelgado commented on #59
@Alhima Sorry for the delay in investigating and addressing this. We've been hard at work fixing other issues though we realize audio quality is just as important. We'll be looking at this closely next week and will provide you with another update.

[2017-07-10 05:01] aashu09 commented on #74
@kbagchiGWC Please response about above issue.

Why do you response so late sometimes?

[2017-07-11 00:12] kbagchiGWC commented on #74
@aashu09 we will look into improving the timing. I will discuss with the team and get back to you with more details on what is feasible.

My apologies for the delayed response. I was OOO for past few days and was not able to respond. Just an FYI we are based in California, sometimes the responses are delayed due to the timezone differences.

[2017-07-12 05:09] kapilojha commented on #74
Apologies, I didn't know about timezone. I was just waiting for your response because my application is live now, but happy to hear about improvements and your dedicated work for the issue.

Thank you so much.
waiting for your response with fix.

[2017-07-12 05:28] aashu09 commented on #74
Apologies, I didn't know about timezone. I was just waiting for your response because my application is live now, but happy to hear about improvements and your dedicated work for the issue.

Thank you so much.
waiting for your response with fix.

[2017-07-12 05:42] aashu09 commented on #74
Also, I am implementing iOS app too using iOS SDK of Twilio. So assuming that you are also updating the iOS library, if this issue persist there.

[2017-07-12 06:53] aashu09 commented on #74
Hey @kbagchiGWC its very bad to see so many issues related to network in voice SDK but users are facing lots of issues due to network. Voice SDK does not have proper handling of network yet. Please check all scenarios related to network and fix them.
Two major issues users are facing -

1.The app would freeze from time to time not allowing you to hang up. I had to manually close out the app to get

[2017-07-12 15:47] kbagchiGWC commented on #74
@aashu09 thanks for bringing these to our attention. Can you please provide logs for both the cases?

[2017-07-12 17:20] aashu09 commented on #74
I am really sorry for logs but I can not provide to you because all issues
are occurring to different - different users on live build, so I don't have
logs for these issues. But the same thing in all issues is weak or poor
network.
We also looked an issue regarding delay in disconnection of call.
So, please its an request to cover all scenarios of network because twilio
calling is very important f

[2017-07-13 05:53] ajitdubey-mob-ibtech commented on #74
@kbagchiGWC I am facing same issues (Application freeze) in case of inbound call. When Incoming call receive on device mean while network lost then user hit the accept button, application going to freeze user is not able to do anything more.

[2017-07-13 11:04] abhinay-w3bminds opened #75 "speaker mode turns on automatically"
I am facing a strange problem. While calling, when I tap any button on mobile (either its mute button, call end button etc.), the speaker of my phone gets on. And now when I try to switch off speaker, it gets close for just a second but again speaker turns on automatically.

This problem is only occuring in lenovo z2 plus(zuk 2). On other devices, it is working fine. Please tell me if this is prob

[2017-07-14 06:26] #75 closed

[2017-07-14 10:38] aashu09 opened #76 "Not able to registered twilio for incoming calls"
Hi,

I am using Voice quickstart SDK for Android, version beta14. It runs fine but sometimes does not listen incoming calls and print the error when I try to register it for incoming calls.

The error given by Twilio -
07-14 16:03:49.631 19177-20105/com.app.dealer_app W/MessageQueue: Handler (android.os.Handler) {17b6fbd} sending message to a Handler on a dead thread

[2017-07-14 12:19] aashu09 commented on #74
@kbagchiGWC Please response.

[2017-07-14 17:46] kbagchiGWC commented on #74
@aashu09 we are working on improving SDK behavior under poor network condition and loss of network. We do not have a fix for the issues you have mentioned above. I will let you know when we have a fix available for you to try.

[2017-07-14 17:51] aashu09 commented on #74
Its good to hear that you are working on fix.
I am very zeal about fix.

Thanks
On 14-Jul-2017 11:16 PM, "kbagchiGWC" <notifications@github.com> wrote:

[2017-07-17 05:32] aashu09 commented on #76
Hey, look into this...

[2017-07-17 20:17] idelgado commented on #76
@aashu09 Is there a particular scenario where you see this failure?

Registration is intended to generally happen once, when the application is first installed or if & when firebase generates a different token for the application instance. We recommend you use a shared preference to store whether you have successfully registered in the past. As long as the identity in the access token you provide

[2017-07-23 16:44] fabriziomoscon commented on #10
the 3 above mentions has nothing to do with this issue. They are referenced because github picked up the hash reference from the android logs pasted.

[2017-07-24 06:42] aashu09 commented on #74
Hey, When will i got the fixed build?

[2017-07-24 15:30] idelgado commented on #74
@aashu09 We're still actively working on this issue. We are characterizing all of our network related operations to ensure we provide consistent behavior under network loss or network degradation.

[2017-07-25 12:34] Developeraya opened #78 "Registration Error: 20101, Invalid Access Token"
Hello Twilio Team,
        I'm trying to use programmable voice product with android app and  PHP from backend.
From PHP I generate token, But when I try to verify token over jwt.io Signature failed, but if I copied my secret key in secret text box Signature success.

From Mobile App, when I receive token I got this message
"registrationListener Error : Registration Error: 20101, Invalid Access To

[2017-07-25 16:27] aashu09 commented on #74
That's great.

Please verify almost all possible network scenarios, that will be helpful
for every developer who uses Voice SDK.
I am really waiting for fixed version.

Appreciate your work.
Thanks
On 24-Jul-2017 9:00 PM, "Iñaqui" <notifications@github.com> wrote:

[2017-07-27 07:07] antonysoldatov opened #80 "31302 Transport error"
I try to make outgoing call but I get error:
31302 Transport error
Raised when Network is unreachable and SDK fails to send messages to Twilio Voice Service.
Lib version: 2.0.0-beta12
This problem become from about 21th jul.
2 weeks ago sample was working ok.

I updated version to 2.0.0-beta15
And now I get 20104 Access Token expired or expiration date invalid
I check that token is generated right

[2017-07-27 07:27] kbagchiGWC commented on #80
@antonysoldatov what is the TTL for the access token you have used? Make sue expiry time is greater then 0 and smaller then 24 hours. If you still have questions, open a support ticket and share your access token. Let me know the ticket number once filed, I will take a look tomorrow morning PST.

[2017-07-27 14:36] antonysoldatov commented on #80
Thank you for response.
I set access token expired in 20 hours and problem 20104 is gone.
But now I still get error 31302 Transport error.
What can be the problem?

[2017-07-27 18:43] girtis commented on #80
@antonysoldatov - this error occurs when the SDK cannot communicate with our infrastructure. Since you're able to fetch your token I'm assuming you do have Internet connectivity. Are you behind a firewall perhaps? Our SDKs need to be able to communicate with our servers on ports 10193 and 10194.

To verify connectivity you can run `openssl s_client -connect chunderm.gll.twilio.com:10194` - if that

[2017-07-27 18:49] kbagchiGWC commented on #80
@antonysoldatov  - `31302` indicates that there is no network connectivity and SD is not able to connect to Twilio backend. Can you verify that the phone has internet connectivity? Please provide logs if the issue persists.

[2017-07-27 21:11] kbagchiGWC commented on #78
@Developeraya Is this still an issue? We have looked at the backend and see successful registration for your account. If this happens again, please provide logs (here and/or include in the support ticket).

[2017-07-28 16:20] #80 closed

[2017-08-01 05:24] aashu09 commented on #74
Is the fixed version of Voice SDK ready ?

[2017-08-01 05:25] aashu09 commented on #76
Thank you @idelgado

[2017-08-01 07:15] Developeraya commented on #78
@kbagchiGWC
Thank you for your reply. Yes , How to provide you with bugs ??

[2017-08-01 14:34] idelgado commented on #76
@aashu09 we made some changes to registration in beta15. They are not API changes but we changed our https client for performing the registration. Based on the log it seems like the thread that you are calling to register is dying before the registration has completed. Are you performing the registration from a non-UI thread? Where are you performing the registration? In an Activity?

[2017-08-01 14:59] idelgado commented on #74
We are still working on improvements and hope to have a beta next week. Sorry for the delay. We're hoping we can significantly improve this very soon.

[2017-08-01 17:48] kbagchiGWC commented on #78
@Developeraya you can report issues here or open a support ticket (https://support.twilio.com/hc/en-us/requests/new_). Are you still having registration issues?

[2017-08-02 07:23] aashu09 commented on #74
Sounds good. I will be waiting for next beta release.

Thanks

[2017-08-07 05:33] iorikingdom opened #81 "maxFps not working"
Our project consider using 3G/4G to video and voice calling in Japan.
I want to control the network traffic by maxFps parameters.
But when i setting maxFps to 10,24 or 30,It cost the same network traffic.
(About ↑10M ↓7M at one minute)

Android and  iOS both of that have no effect by setting maxFps parameter.
I don't want to change the screen size, It is any other parameter for control network
tra

[2017-08-07 10:55] idelgado commented on #81
@iorikingdom please refile this issue on https://github.com/twilio/video-quickstart-android

[2017-08-08 00:30] fangzhzh opened #82 "Echo from app in Samsung Galaxy S7"
Description

If we use app in Samsung Galaxy S7, other end will hear their own voice.

[Description of the issue]
App in Samsung Galaxy S7, app call phone number, connected, app side is ok, other side(phone) will here the echo of themselves. But When we use app in Nexus 5, other end doesn't have echo.

Steps to Reproduce

[Step one]
Install app in Samsung Galaxy S7

[Step two]
Make a call to a pho

[2017-08-08 00:57] fangzhzh commented on #82
there are some ``` (HTTPLog)-Static: isSBSettingEnabled false``` outputs between calling logs in Samsung

[2017-08-08 04:14] fangzhzh commented on #60
I got `Failed to update call on IP address change; call will not be notified if the other party hangs up`  when I do have wifi with 2.0.0-beta15

[2017-08-08 06:46] kbagchiGWC commented on #60
@fangzhzh - can you please open a new issue with details of the log message you mentioned above?

[2017-08-08 15:22] idelgado opened #83 "Unregistration may fail on devices with API level 18 or lower only on 2.0.0-beta15"
### Description

Registration or unregistration will fail due to an issue that is caused when `requestMethodType` is `DELETE`.

### Steps to Reproduce

1. Call Voice.unregister(...) with a valid accessToken and fcmToken

#### Code

[code]

#### Expected Behavior

Unregistration succeeds

#### Actual Behavior

Unregistration fails with a RegistrationException with message `DELETE does not support w

[2017-08-08 15:23] idelgado commented on #83
Seems to be attributed to this issue: https://stackoverflow.com/questions/10338615/sending-http-delete-request-in-android

We're actively working on resolving this issue.

[2017-08-08 15:23] #81 closed

[2017-08-09 13:50] oussemaAr opened #84 "Voice Call failed after accepting the call"
### Description
Everything was working fine but after the Programmable Voice issues now i get
`E/ReinviteCallCommand: Failed to update call on IP address change; call will not be notified if the other party hangs up`

### Steps to Reproduce

1. Make a call from device A
2. Accepting call from Device B
3. Status of call disconnected and the `ReinviteCallCommand` error appears.

#### Expected Behavi

[2017-08-09 14:14] oussemaAr commented on #84
Solved by upgrading to `2.0.0-beta15`

[2017-08-09 14:15] #84 closed

[2017-08-10 05:32] fangzhzh commented on #82
@kbagchiGWC for actually, I tried  Samsung Galaxy 5, 6, 7. They all have this problem 😢

[2017-08-10 05:40] kbagchiGWC commented on #82
@fangzhzh sorry to hear that you are facing these issues. We plan to look at ways to improve audio quality shortly. Unfortunately we can't share a date yet. I will keep you posted when we make progress in this area. Thanks for your patience.

[2017-08-10 21:37] fangzhzh commented on #82
Thanks

[2017-08-11 04:36] fangzhzh commented on #60
@kapilojha I found I couldn't 100% reproduce it. I'll keep my eye on it and report it as soon as I find the way to reproduce it.

[2017-08-14 05:04] aashu09 commented on #74
Its 12 days ago you told me to release fixed version in next week. What's the status of fixed version now ?

[2017-08-14 14:50] idelgado commented on #74
We're still actively working on this. We've completed network connectivity loss testing and we are now working through network packet loss testing to ensure that disconnected will end promptly even in poor network conditions.

[2017-08-15 17:38] idelgado commented on #83
This issue is resolved in `2.0.0-beta16`

[2017-08-15 17:38] #83 closed

[2017-08-17 12:11] SanjayAndroidDev opened #86 "Registration Error: 20403, Forbidden"
I am tries to register my device but getting "Registration Error: 20403, Forbidden" error.

[2017-08-17 12:45] idelgado commented on #86
Which version of the SDK are you on? We recently fixed an issue related to registration that was introduced in 2.0.0-beta15 https://github.com/twilio/voice-quickstart-android/issues/8. Please try 2.0.0-beta16. If that doesn't resolve the issue can you provide a log with `Voice.setLogLevel(LogLevel.All)` before attempting registration along with your device info and API level.

[2017-08-17 12:57] idelgado commented on #86
We also see this registration error if the access token is invalid. For example if you have specified an invalid TTL.

[2017-08-17 12:59] idelgado commented on #78
Closing due to inactivity on github and zendesk. Please provide more information if you still have this issue.

[2017-08-17 12:59] #78 closed

[2017-08-17 13:01] idelgado commented on #76
Please re-open if this if this is still an issue or if you have more information to provide.

[2017-08-17 13:01] #76 closed

[2017-08-17 13:01] SanjayAndroidDev commented on #86
Thanks for quick replay. It's happen b'cas duplicate FCM id.

But now i can't make call. I got "pjsua_core.c  .PJSUA state changed: NULL --> CREATED" error when start call and than show "Call Error: 31000, Generic error".
Please Help me. :)

[2017-08-17 13:06] idelgado commented on #64
Please re-open or follow up on the support ticket for additional help.

[2017-08-17 13:06] #64 closed

[2017-08-17 13:11] idelgado commented on #44
@MisterRogersHaus we've made a number of improvements related to setup and teardown of calls. We now have much better support for cases where you must dial multiple calls in series. Reading the log it sounds like this may have been part of your use case. Please give 2.0.0-beta16 a try. I'll close this for now since it's been inactive for a while but please follow up if you encounter an issue.

[2017-08-17 13:11] #44 closed

[2017-08-17 13:57] SanjayAndroidDev commented on #86
I got this log after try to connect call

08-17 19:26:59.830 31580-31580/com.twilio.voice.quickstart I/PJSIP: 19:26:59.829 os_core_unix.c !pjlib 2.5.1 for POSIX initialized
08-17 19:26:59.832 31580-31580/com.twilio.voice.quickstart D/PJSIP: 19:26:59.832 sip_endpoint.c  .Creating endpoint instance...
08-17 19:26:59.832 31580-31580/com.twilio.voice.quickstart I/PJSIP: 19:26:59.832          pjlib  .s

[2017-08-17 14:14] idelgado commented on #86
The good news is we're in the process of improving our error reporting. But unfortunately it's hard to pinpoint what the issue could be because this particular error is not very informative.

Please file an issue here https://support.twilio.com/hc/en-us/requests/new and make sure to provide your account sid in the ticket. Once you have a ticket number post it here and we'll follow up.

From the lo

[2017-08-18 09:10] coachsmr opened #87 ""requestAudioFocus" is deprecated"
what is the alternative of "requestAudioFocus" which is deprecated and used in "VoiceActivity.java" ?

[2017-08-18 16:28] kbagchiGWC commented on #87
@coachsmr you have to use `int requestAudioFocus (AudioFocusRequest focusRequest)` in API level 26. You can find details [here](https://developer.android.com/reference/android/media/AudioManager.html#requestAudioFocus(android.media.AudioFocusRequest)). [This](https://developer.android.com/reference/android/media/AudioFocusRequest.html) includes code examples. Let me know if you have further questi

[2017-08-18 17:53] kbagchiGWC commented on #87
@coachsmr We will update the QS with the appropriate changes soon. Thanks for brining this to our attention.

[2017-08-29 21:47] camclendenin commented on #54
@idelgado Any progress / updates regarding call quality improvements?

[2017-08-29 21:54] idelgado commented on #54
@camclendenin we'll be releasing regionalization support soon and we hope that this will resolve some of the audio quality issues that have been reported. Expect a new beta in the next week with this support.

While our global regionalization attempts to pick the best region based on the location of the device we've seen in some cases that if the developer can choose a specific region that they kn

[2017-09-07 10:16] TuanTuan opened #91 "How to know and get the reason when make outgoing call failed."
Hi,

We are now using Twilio Voice SDK 2.0,0-beta16 to make outgoing call. We found many call CAN NOT setup successfully. We need to know why the request failed.

I have some question about the Voice SDK:

I use following code to make outgoing call:
`
mActiveCall = Voice.call(sContext, mAccessToken, twiMLParams, this);
`

if the call be setup correctly, following callback method will be called, I

[2017-09-07 14:44] idelgado commented on #91
@TuanTuan At the moment an error that prevents reaching the `onConnected` callback will return as an `onDisconnected` callback with a non-null CallException error. The possible errors are enumerated in this class: https://media.twiliocdn.com/sdk/android/voice/releases/2.0.0-beta17/docs/com/twilio/voice/CallException.html

In addition to these errors there is still a gap in reporting, we need to pr

[2017-09-07 14:45] idelgado commented on #87
Addressed in https://github.com/twilio/voice-quickstart-android/pull/88

[2017-09-07 14:45] #87 closed

[2017-09-07 15:07] idelgado commented on #86
Please reopen if you have additional information.

[2017-09-07 15:07] #86 closed

[2017-09-08 01:42] fangzhzh commented on #82
Hi @kbagchiGWC can I know any update on audio quality?

[2017-09-08 03:53] kbagchiGWC commented on #82
@fangzhzh unfortunately we have not got a chance to work on audio quality related issues yet. We will keep you posted when we make progress in this area.

[2017-09-11 21:59] kbagchiGWC commented on #59
@Alhima we have recently added `Voice.setRegion()` a new API in the SDK. I am not certain this will fix the issue you mentioned above but it is worth a try.  Can you please try https://www.twilio.com/docs/api/voice-sdk/android/changelog#200-beta17, set the region to the closet of your location and let us know if there is any improvement?

[2017-09-11 22:11] kbagchiGWC commented on #54
@camclendenin  we have recently added Voice.setRegion() a new API in the SDK. Can you please try https://www.twilio.com/docs/api/voice-sdk/android/changelog#200-beta17, set the region to the closet of your location and let us know if there is any improvement?

[2017-09-12 06:16] TuanTuan commented on #91
@idelgado thanks comments.

We noticed that our apps call Voice.call more than 4000 times per day, but only 3000 times onConnected be called. There is no onDisconnected callback with a non-null CallException.  As you mentioned above, there should be about 1000 times call be rejected by remote user?

I will double check our event log. thanks.

[2017-09-14 10:37] Ariel2010 commented on #39
Hi all,

Tuan Tuan can you please help me that how you are getting following data in push notification:
05-03 15:36:04.395 32688-1268/? D/FBMessagingService: Bundle data: {twi_account_sid=ACxxxxxxxxxxxxxxx, twi_to=client:12xxxxxxxxx, twi_bridge_token=eyJraWQiOiJKd2VTM0JpZi0xIiwiY3R5IjoidHdpbGlvLWZwYTt2PTEiLCJlbmMiOiJBMjU2R0NNIiwiYWxnIjoiZGlyIn0..kFfggiZl0YG3AAt1.iBIM_oqFJaRLixZPhPxqIr5kJ96oMtyQjWT

[2017-09-14 15:28] idelgado commented on #39
@Ariel2010 are you using Twilio Notify? `twi_title` is not part of the message sent by Twilio Programmable Voice via push.

I would recommend following the quickstart to see an example using FCM.

[2017-09-15 07:25] Ariel2010 commented on #39
Thanks for your reply. We already followed quickstart and done with all the steps. My main concern is why i am getting error everytime  in call invite. CallInvite always goes null and throw exception of "INVALID DATA".

[2017-09-15 12:15] idelgado commented on #39
Are you using any other Twilio products aside from Twilio Voice that send push messages? Seems like the message you are trying to provide is not coming from the Programmable Voice backend.

[2017-09-20 04:33] khurana3192 opened #93 "No incoming calls after hangup or reject of an incoming call"
**Description**

After registering FCM token, if I place an incoming call, I get that dialog to accept or reject the incoming call. If I accept or reject, it works fine, but after that no incoming calls are received unless and until I restart the activity.

**Steps to Reproduce**

1. Incoming call received
2. Accept or reject.
3. Another incoming call just after that, does not triggers or is not d

[2017-09-20 06:16] mvctest17 opened #94 "Return error 31000"
Hi,

I am facing the follow issue:

When my app accepts the call then it is showing error 31000 in android device and Error - 52002
Invalid Credential Sid in debugger. Please help me to resolve the issue.

Thanks

[2017-09-20 08:13] khurana3192 commented on #93
Solved by calling registerCallForInvites() again whenever the call is accepted or rejected.

[2017-09-20 08:13] #93 closed

[2017-09-20 08:13] khurana3192 opened #95 "Can anybody help me in making the incoming call whatsapp like? Similar to Callkit integration of Twilio with iOS"

[2017-09-20 08:15] kbagchiGWC commented on #94
@mvctest17 Error code `52002` indicates that the access token you are using to accept the `CallInvite` does not have a valid `push_credential_sid`. You can find details about how to create a credential sid in [Add a Push Credential using your FCM Server API Key](https://github.com/twilio/voice-quickstart-android#8-add-a-push-credential-using-your-fcm-server-api-key ) section of the`README.md` file

[2017-09-20 09:38] khurana3192 commented on #95
I am able to open an activity to show the hangup and accept buttons whenever there is an incoming call. But I am still wondering, how I can do this when my keyguard is locked. Any ideas guys?

[2017-09-20 12:57] khurana3192 commented on #95
Ok, so I found the reason, basically when my screen is locked, and if try opening the activity with the incoming fcm notification, onDestroy gets called and destroys the activity. Any suggestions how can I overcome this problem?

[2017-09-21 00:27] kbagchiGWC commented on #95
@khurana3192 does `onNewIntent()` get called at all? Can you share how you have setup the `PendingIntent` that gets passed with the `Notification`?

[2017-09-21 04:46] mvctest17 commented on #94
@kbagchiGWC  I am using the server key from FCM cloud messaging tab and applying this key in twilio console FCM secret. After saving the information it is returning the credential sid (CR55XXXXXXXX). Now this credential sid I am using in my server side code to send notification.
After doing all this it is returning the same error.
If I am doing something wrong to follow the steps then please let m

[2017-09-21 05:03] mvctest17 commented on #94
@kbagchiGWC Can you please describe the server side code in tutorial for each step?
If you can provide the code in php and c# than it will be helpful.

[2017-09-21 05:10] kbagchiGWC commented on #94
@mvctest17 We have a quickstart repo for the server side code https://github.com/twilio/voice-quickstart-server-python. You can use this as a reference to generate accessToken. Let me know if you need clarifications.

[2017-09-21 05:35] mvctest17 commented on #94
@kbagchiGWC I am using the below php code to generate token:

$twilioAccountSid = 'AC777650eedb3fc297ab91c09a717d91ee';
$twilioApiKey = 'SK----------------------';
$twilioApiSecret = '----------------------------';

// Required for Voice grant
$outgoingApplicationSid = 'AP-----------';
// An identifier for your app - can be anything you'd like
$identity = "TestUser235";

// Create access token, wh

[2017-09-21 15:23] khurana3192 commented on #95
@kbagchiGWC Thanks for getting back to me. We are planning to release an update to our Android app that is based on the Twilio Voice SDK. Our customers want a more native like experience where they can directly see a screen to accept or reject call (just like Skype/Whatsapp/Viber/Line etc), instead of clicking on the notification and then the dialog box. Moreover this should also work on the lock

[2017-09-22 00:43] kbagchiGWC commented on #95
@khurana3192 have you looked at `ConnectionService' (https://developer.android.com/reference/android/telecom/ConnectionService.html)?

[2017-09-22 04:38] khurana3192 commented on #95
@kbagchiGWC many questions on Stackoverflow points to `ConnectionService` to show native like incoming calls. First of all, the documentation in this regard is not that great. Secondly, this method is not always guaranteed to work on different devices (got to know from Stackoverflow under different posts). Moreover, I think companies like Whatsapp, Skype, Line, Viber are not following the `Connect

[2017-09-22 05:32] idelgado commented on #95
We don't have a sample for this at the moment but as you've pointed out there are other apps that do this so the support is available on the Android platform. We will consider adding a sample for this in the future but I don't have a timeline for when.

It sounds like your close to a solution. My impression is that the attributes associated with your Activity may be causing the issue. I would revi

[2017-09-22 06:12] khurana3192 commented on #95
@idelgado Thanks for considering this request, I am sure if you guys can do the same for your Android SDK, it will really help devs like us to cut down time required to ship a working VOIP app with Twilio. I would love to contribute in any such development if I get success with this problem of mine.

Even if I ensure that `onDestroy()` is not called by handling config changes or openinig the activ

[2017-09-25 06:57] kapilojha commented on #74
Do you know its about more than a month but you didn't resolve my issue yet.
Do you still working on that small bug???

[2017-09-25 09:25] aashu09 opened #96 "Call not connecting over mobile network"
Hi,

Please look at this, its urgent. I am using 'com.twilio:voice-android:2.0.0-beta17'.

**When I use Dial feature of twilio then it better works on WIFI connection but when I switch internet from WIFI to SIM data pack(Mobile network) then it does not connect call to any number.**

I am attaching **DEBUG** log below which is showing that firstly when I connected using **WIFI** then call successf

[2017-09-25 09:26] aashu09 commented on #74
Do you know its about more than a month but you didn't resolve my issue yet.
Are you still working on that small bug???

[2017-09-25 21:58] idelgado commented on #74
Unfortunately this took a longer more substantial effort than we originally though. We are finalizing our release for this issue now. Expect a new beta release this week.

[2017-09-26 05:11] aashu09 commented on #96
Hey, What about above issue ?

Please look. Its degrading the app functionality.

[2017-09-26 05:13] aashu09 commented on #74
@idelgado Thank you for response. I am really waiting for resolved version.

And please have a look to #96 , its very bad when call does not connect in mobile network data.

[2017-09-26 06:42] abhinay-w3bminds opened #97 "incoming call is not disconnecting"
After answering incoming call when call is connected then if call is cancelled from caller side then call disconnect signal is not coming on  receiver side so I am not able finish call screen
One thing more I am receiving a message in log says "No CallInvite with this CallSid". Is it related with issue? please help. thank you

Logs:

09-26 12:03:38.414 3603-3975/w3bminds.engVarta.app D/FirebaseIns

[2017-09-26 12:01] abhinay-w3bminds commented on #95
@khurana3192 -- try this
orverride this method in your call activity class

 @Override //to turn on screen while its lock when call is arriving
    public void onAttachedToWindow() {
        Window window = getWindow();
        window.addFlags(WindowManager.LayoutParams.FLAG_TURN_SCREEN_ON
                | WindowManager.LayoutParams.FLAG_SHOW_WHEN_LOCKED
                | WindowManager.LayoutPara

[2017-09-26 12:16] #94 closed

[2017-09-26 18:52] kbagchiGWC commented on #97
@abhinay-w3bminds `09-26 12:04:31.772 3603-4026/w3bminds.engVarta.app D/CallControlManager: received DISCONNECTED` line indicates that the SDK received a disconnected event when call was disconnected by the caller/remote party. SDK should raise an `onDisconnected(...)` event to the `Call.Listener(..)` passed with `CallInvite.accept(...)`. Can you add logging to `Call.Listener(..)` ?

Please ignore

[2017-09-26 22:05] kbagchiGWC commented on #96
@aashu09 we tried to reproduce using [beta17](https://bintray.com/twilio/releases/voice-android/2.0.0-beta17) and not able to reproduce. We have release [beta18](https://bintray.com/twilio/releases/voice-android/2.0.0-beta18) today. This includes some of the optimization related to poor network condition. Can you please give it a try?

[2017-09-27 07:11] aashu09 commented on #96
@kbagchiGWC Thank you for your response. Yes, I will try beta18 today and let you know about issue soon.

[2017-09-27 17:09] idelgado commented on #74
Please try out beta18

[2017-09-30 08:54] #97 closed

[2017-10-03 09:06] aashu09 opened #99 "App crashing when Incoming call rejects"
Hi,

I am using **beta18** version of voice quickstart android to implement calling feature and implemented successfully but getting a crash in Incoming call.

When a call is running over my mobile network and an incoming call comes into my application by Twilio but I reject the twilio call then app crashed.

Steps to reproduce -

1. Start a call over mobile network(SIM call).
2. Make an incoming

[2017-10-03 12:08] aashu09 commented on #99
Please look above issue. Its **URGENT**.

[2017-10-03 14:06] aashu09 commented on #74
Thank you for release it. I will verify it and let you know but before that just look #99 which is also causing crash into my app.

Thanks

[2017-10-03 14:08] aashu09 commented on #96
I am still trying beta18 but before this please look  #99 which is also causing crash into my app.

Thanks

[2017-10-04 01:38] kbagchiGWC commented on #99
@aashu09 We are working on reproducing the crash but we haven't had any success yet. I need few clarifications:
1. Was there an exception prior to this crash? If yes, can you provide details? Looking at the log, looks like the BroadcastReceiver that receives "android.net.conn.CONNECTIVITY_CHANGE" notifications was not unregistered and SDK is attempting to register it again. In ideal situation that

[2017-10-04 07:18] aashu09 commented on #99
@kbagchiGWC Thank you for your response.
Here I am giving you all answers of your questions -
1. I have faced the crash,I have already handled exception via try-catch block however app is crashing. For the crash logs, I have already mentioned in above comment as**"Check Crash Logs below -"**.  In above crash logs, you can see **com.twilio.voice.ConnectivityReceiver@fbdfa9b** this receiver has been

[2017-10-04 09:59] khurana3192 commented on #95
Hey @abhinay-w3bminds

I have added that method and also permissions in manifest. The screen does light up but somehow the activity gets destroyed and doesn't appear on the lock screen

[2017-10-04 11:27] abhinay-w3bminds commented on #95
@khurana3192  If you are getting call while screen is awake then check if you are registering broadcast receiver in java class then do it in manifest and then try..

[2017-10-04 13:18] aashu09 opened #100 "Cellular call comes over Twilio call and vice versa"
Hi,

I'm using beta18, All things are working great. However, our client has raised a question and we have to reply to the client.

The question is : When we are on a Twilio call and at the same time there is an incoming phone call(Cellular Call), the incoming phone call(Cellular Call) rings over the running Twilio call. Is there a way to prevent this?

**Means If Twilio call is running and Cellul

[2017-10-04 13:19] aashu09 commented on #74
@kbagchiGWC @idelgado Please also look at #100
Its very **URGENT**.

[2017-10-04 13:26] aashu09 commented on #96
@kbagchiGWC Dial feature of Voice Quickstart SDK is now working over Mobile Network in **beta18**. Thank you for your help.

**But Can you please specify minimum bandwidth requirements of Voice Quickstart SDK to call ?**

[2017-10-04 13:27] aashu09 commented on #96
Please also look at #100 very **URGENTLY**.

[2017-10-04 13:36] aashu09 commented on #74
@idelgado "Outgoing call not disconnect" issue is sometimes improved then beta17 but its still taking upto 2-3 seconds in disconnection of outgoing calls.
I think disconnection should be an immediate process because User does not want to hang up on a particular screen.
Please let me know about your thoughts ?

However, Really appreciate for your help.

[2017-10-04 15:16] PaulPaulDevelops commented on #82
@fangzhzh We have been experiencing this same exact issue that you have described.

@kbagchiGWC is there a recent update on this issue with audio quality? Could you provide any information on a possible timeline for this issue on your end? Thank you :)

[2017-10-04 23:00] fangzhzh commented on #100
@aashu09
- cradle call first, gsm second
    + cradle call connected, mute ringtone, so gsm will be muted with vibration(according to system setting)
- gsm first, cradle followed
    + check gsm call status when receiving cradle call notification.
        - if in gsm call, just ring a beep notification

in both cases, user will have a missed call notification so that they can decide what to do wit

[2017-10-04 23:09] kbagchiGWC commented on #100
@fangzhzh - did you have the same issue as @aashu09 mentioned here? He reported a crash while rejecting a Twilio call with or without a cellular call.

[2017-10-04 23:31] kbagchiGWC commented on #74
@aashu09 - Can you provide logs where it is taking long? Please include timestamp of when the disconnect was called and when the call was raised. `Call.Listener.onDisconnected(...)` should be raised within 1 second or close to it.

[2017-10-05 05:55] aashu09 commented on #99
@kbagchiGWC Did you check the issue ?

[2017-10-05 05:57] aashu09 commented on #96
@kbagchiGWC Please answer my question that I asked in above comments -
**But Can you please specify minimum bandwidth requirements of Voice Quickstart SDK to call ?**

[2017-10-05 07:45] kbagchiGWC commented on #96
@aashu09 We do not have bandwidth matrix available for Programmable Voice mobile SDK. I have asked our QA team to provide additional information on this. I will update this issue when I hear back from them.

[2017-10-05 08:04] kbagchiGWC commented on #99
@aashu09 we have tried our test apps and voice-quickstart-android app with beta-18 and not able to reproduce. Can you try voice-quickstart-android and try to reproduce the issue? This will help us understand the issue that is causing the crash and provide a solution.

[2017-10-05 08:41] kbagchiGWC commented on #99
@aashu09 Can you please share your code snippet starting from receiving the FCM/GCM notification to rejecting the `CallInvite`? Share logs - starting the app, registering and then receiving an incoming call -> the crash.

[2017-10-05 08:46] kbagchiGWC commented on #100
@aashu09 We don't have a sample for this at the moment. We will consider adding a sample for this in the future but I don't have a timeline that I can share at the moment..

[2017-10-05 09:12] aashu09 commented on #100
@kbagchiGWC Are you talking about a sample which resolves the problem I am facing or anything else ?
Are you treating above problem as an issue ?

[2017-10-05 09:14] aashu09 commented on #96
@kbagchiGWC  Thank you so much. I will be waiting for response.

[2017-10-05 12:37] khurana3192 commented on #95
@abhinay-w3bminds are you referring to the registration listener function of Twilio SDK?

[2017-10-05 12:39] khurana3192 commented on #95
@abhinay-w3bminds is there a way I can share my complete code with you after leaving comments so that you can help me better?

[2017-10-05 18:27] kbagchiGWC commented on #100
@aashu09 we are not treating this as an SDK issue. This behavior is business logic specific and should be part of your application.

[2017-10-06 05:10] abhinay-w3bminds commented on #95
@khurana3192   share it on github

[2017-10-10 17:47] kbagchiGWC commented on #96
Hi @aashu09 - our QA team has completed bandwidth testing for Programmable Voice SDK. The attached file lists the result.
[Bandwidth tests - Sheet4.pdf](https://github.com/twilio/voice-quickstart-android/files/1372838/Bandwidth.tests.-.Sheet4.pdf)

[2017-10-10 18:54] idelgado commented on #99
@aashu09 Looks like I introduced a regression in beta18 that we did not catch with our automated tests. Today, I added tests to ensure this particular issue does not resurface. Rather than registering the `ConnectivityReceiver` with the Application context I incorrectly changed the code to use the context provided by the developer, in your case the Activity.

This results in cases where the Activi

[2017-10-10 18:58] idelgado commented on #99
We should have caught this sooner. I was out of office/vacation so I apologize for not having identified the issue sooner and provided this workaround or a fix.

[2017-10-10 22:21] idelgado commented on #74
@aashu09 we are still make some improvements to the teardown. One improvement is moving most of the teardown off the UI thread. This should improve the overall time it takes to teardown to always be closer to 1 second.

As for the immediate teardown. There are some implementation details we need to account for. In order to properly teardown we need to ensure that we send a "bye" message to our ser

[2017-10-10 22:22] idelgado commented on #74
I'll post an update when we've made these additional improvements.

[2017-10-11 06:28] aashu09 commented on #99
@idelgado Thank you so much to reproduce this issue at your end and started to resolve it.

I am applying workaround that you provided in last comment till fixed version will be not be available.

Really appreciate this.

[2017-10-11 06:31] aashu09 commented on #74
@idelgado Thank you for trying to resolve this issue. Really appreciate your work.

[2017-10-11 06:34] aashu09 commented on #96
@kbagchiGWC Thank you for this file. Its really helpful. Your work is always appreciable.

[2017-10-11 18:26] kbagchiGWC commented on #99
Hi @aashu09 we have released beta21 that fixes the issue you reported here https://www.twilio.com/docs/api/voice-sdk/android/changelog. Please test it and let us know how it goes.

We sincerely appreciate your effort for bringing this to our attention and apologize for the inconvenience.

[2017-10-12 05:21] ajitdubey-mob-ibtech commented on #74
@idelgado good to hear

[2017-10-14 03:05] hartmannj opened #106 "Making FCM optional"
Would it be possible to make FCM integration optional? We want to target the chinese market and would like to implement a different push service which also works in China. Basically a way to plug in a custom push implementation would be great.

[2017-10-14 16:53] idelgado commented on #106
We don't have this capability right. I'm curious to know what you would consider the ideal solution. Would posting notifications to a webhook be a potential solution? I believe this would allow you to take the message and forward it using your desired channel.

[2017-10-14 16:53] #99 closed

[2017-10-14 16:58] idelgado commented on #91
@TuanTuan Sorry to have missed your reply.

That's interesting data. So you are saying that when you make an outgoing call in some cases you don't get `onConnected` or `onDisconnected`? Is it possible that the user is closing the app in these cases? If they are terminating the app by swiping it away from recent then the process dies and the callback may never be called.

In `2.0.0-beta20` we added

[2017-10-15 03:23] hartmannj commented on #106
Yes, that sounds like a clean solution to me. We would definitely switch to Twilio as soon as this is available!

[2017-10-17 02:21] idelgado commented on #106
I reached out to the Twilio Notify team. There is now a ticket in their backlog but I don't have a timeline for when they can enable this. I'll update this ticket when I have more info. Thanks for this feedback and I'm definitely a fan of this option for developers.

[2017-10-17 12:16] Hanif-abuvani opened #107 "GENERIC ERROR, Error Code : 31000"
### Description

Hello Sir/Madam,

I am using twilio voice call in my android app. It is working fine. But, I get "GENERIC ERROR"  when i make call from **Moto G4 Plus** Device and whenever i get his error Application got crashed. I am facing this issue from last 2 months.

View my ticket : https://www.twilio.com/console/support/tickets/1042413

### Steps to Reproduce

1. [Step one]
2. [Step two]

[2017-10-17 16:33] kbagchiGWC commented on #107
@Hanif-abuvani you are using our legacy [CLIENT SDK](https://www.twilio.com/docs/api/client/android).  I will move your ticket to https://github.com/twilio/twilio-client-quickstart-android.

[2017-10-17 16:36] kbagchiGWC commented on #107
@Hanif-abuvani moved this ticket to https://github.com/twilio/twilio-client-quickstart-android/issues/52.

[2017-10-17 16:36] #107 closed

[2017-10-19 23:04] BeanStalka opened #108 "How do you refresh the capability token after it expires?"
I have the new Voice SDK running like a champ

I am able to send calls to twilo clients and standard phone numbers.

I am also able to receive calls from other twilio clients.

What I cannot figure out is how to refresh the capability token in the new SDK.

The outdated version of the Android SDK supplied a hook when the token expired, and a method to update it.

What is the mechanism in the curre

[2017-10-19 23:49] kbagchiGWC commented on #108
@BeanStalka We simplified the token refreshing need in Voice SDK. You can fetch a new token right before using the APIs that require it. For example, to make a call, you can do something like the following:

        // Fetch token from your token server
        final String accessToken = fetchToken();
        // make a call
        Voice.call(context, accessToken, twilParam, new Call.Listener() {

[2017-10-19 23:52] BeanStalka commented on #108
On Oct 19, 2017 7:49 PM, "kbagchiGWC" <notifications@github.com> wrote:

@BeanStalka <https://github.com/beanstalka> We simplified the token
refreshing need in Voice SDK. You can fetch a new token right before using
the APIs that require it. For example, to make a call, you can do something
like the following:

    // Fetch token from your token server
    final String accessToken = fetchToken();

[2017-10-20 17:33] rock3m opened #109 "Outgoing call got error Error - 20103 Invalid Access Token issuer or subject"
We were trying to go through the steps for the demo app with the python server. I was able to generate a valid access token via the python server, and verified the format is correct. After pasting the access token to the Android project, building the app and trying to make outgoing calls on Android, I always got this `20103 Invalid Access Token issuer or subject` error (https://www.twilio.com/docs

[2017-10-20 17:54] rock3m commented on #109
Update on this:

I rewrote the token generation code in Nodejs based on https://www.twilio.com/docs/api/rest/access-tokens, and using the new token, it started to work. I have no idea why it was not working with the one generated from the python server.

[2017-10-20 17:57] kbagchiGWC commented on #109
Glad it is working. I will close the ticket.

[2017-10-20 17:57] #109 closed

[2017-10-20 21:36] idelgado commented on #108
@BeanStalka Incoming calls do not require an access token. The notification embeds an access token that is read internally by the SDK.

Can you describe how you were managing the lifecycle of the capability token previously? I'm assuming you were using Client prior to this.

[2017-10-20 21:49] idelgado commented on #108
My understanding is that previously the Client notified when the token expired and you could provide a new token by calling `updateCapabilityToken`.

To contrast in this new model you can fetch the access token, which you can use a TTL of 24 hours, and then periodically update whenever your app is opened or the activity related to voice calling is created. There may be some scenarios where when yo

[2017-10-20 22:58] rock3m commented on #82
Is there any update on this? Same problem.

Without AEC (echo cancellation), we cannot deploy this sound quality to production.

[2017-10-20 23:59] idelgado commented on #82
We're actually looking at this issue first thing next week. Hoping we can reproduce with the Samsung Galaxy S7 we have in our inventory. I'll update the ticket with an update soon.

[2017-10-21 00:03] rock3m commented on #82
It is not only happening on Samsung galaxy S7, but is happening on other
devices too.  We are using BLU dash XL .

On Fri, Oct 20, 2017 at 4:59 PM Iñaqui <notifications@github.com> wrote:

[2017-10-23 12:57] BeanStalka commented on #108
From your previous email:

"periodically update whenever your app is opened or the activity related to
voice calling is created."

This approach is REACTIVE, regardless of the life time of the token.

Updating the token when the call is being created is a bad idea, and here's
why.

Updating the token requires a round trip to the API THEN a call to the
Twilio SDK to register the call with that toke

[2017-10-23 12:58] BeanStalka commented on #108
Also, you mentioned the token life span as  24 hours for voice.

Could you point me in the direction of the documentaiton that states that.
I was unable to find it on you site.

Thanks,

Bean

Andrew Glatts

Sr. Software Engineer

P: (610)-999-6993

On Mon, Oct 23, 2017 at 8:57 AM, Andrew Glatts <andrewglatts@gmail.com>
wrote:

[2017-10-23 18:38] kbagchiGWC commented on #108
@BeanStalka you can find the details about access token [here](https://www.twilio.com/docs/api/rest/access-tokens). [Payload](https://www.twilio.com/docs/api/rest/access-tokens#payload) section mentions about the maximum TTL allowed for an access token.

[2017-10-23 18:41] BeanStalka commented on #108
The example for C# creating an access token has no provision for expiration time:

using System;
using System.Collections.Generic;
using Twilio.Jwt.AccessToken;

class Example
{
    static void Main(string[] args)
    {
        // These values are necessary for any access token
        const string twilioAccountSid = "ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX";
        const string twilioApiKey = "SKXXXX

[2017-10-24 22:14] kbagchiGWC commented on #108
@BeanStalka You can try the following code to set expiration. There is an open issue in the [c# helper library](https://github.com/twilio/twilio-csharp) , https://github.com/twilio/twilio-csharp/issues/396. Once this is fixed, you will be able to pass `ttl` in non UTC format and there will be no need to pass `nbf`.

[code]

[2017-10-25 21:16] BeanStalka commented on #108
I have implemented the code above and placed a timer to update the token once every 24 hours.  Seems to be working

[2017-10-25 21:16] #108 closed

[2017-10-25 21:16] BeanStalka opened #111 "How to send the Caller's Name to the Callee with a CallInvite"
If I have two twilio programmable voice enabled tablets.
Tablet A and Tablet B

Tablet A is Bob Smith's tablet

Tablet B is Jane Doe's tablet

When I initiate a call from Tablet A to Tablet B i need to be able to display who the call is from.

i.e. "Incoming call from Bob Smith's Tablet"

So how do I pass the Caller's Name to the tablet being called so I can accomplish this.

P.S. - I know the dev

[2017-10-25 22:30] idelgado commented on #74
With the release of [2.0.0-beta23](https://www.twilio.com/docs/api/voice-sdk/android/changelog#200-beta23) the work related to setup and teardown of the VOIP stack is performed on a dedicated thread. Previously, much of the work was done on the UI thread.

While this does not result in a reduction of time between issuing `call.disconnect()` and getting the `Call.Listener.onDisconnected(...)` callb

[2017-10-25 22:42] idelgado commented on #111
Unfortunately, our infrastructure does not provide a mechanism for sending user provided metadata from caller to callee. Some of our users have identified workarounds to embed data into the `from` field https://github.com/twilio/voice-quickstart-android/issues/10. This is not a great workaround and our backend team needs to provide a formal solution long-term.

[2017-10-26 12:05] BeanStalka commented on #10
^^circular reference

[2017-10-26 12:32] fabriziomoscon commented on #10
@idelgado @BeanStalka I just wanted to add that in the end I did NOT pursue the hacky workaround above. I am still waiting for a formal solution.

[2017-11-03 03:41] maxannear commented on #82
Done some more testing on this today. Outgoing client calls to PSTN are still having issues. PSTN party hears themselves in an echo. The echo is so bad its impossible to have a conversation.

We're having this problem with all devices running Android 7 or 8. Including Nexus 6p, Galaxy S7, S8 and Note 8. We don't have a Pixel to test with. We aren't seeing this issue on Android 5 or 6.

On all devi

[2017-11-03 12:48] kapilojha commented on #74
@idelgado Thank you so much for above update. And I need the reduction of call disconnect time. Please provide that ASAP.

[2017-11-07 16:29] carlosefonseca opened #113 "CallInvite with state CANCELED doesn't unparcel correctly"
### Description

When doing `Voice.handleMessage` with the data from a `RemoteMessage` that contains `twi_message_type=twilio.voice.cancel`, the `CallInvite` that is returned in the callback is the original one (the one created from the message with `twi_message_type=twilio.voice.call`) with the state changed to `CANCELED`. But the `messageType` field is still unchanged (is still `twilio.voice.cal

[2017-11-07 18:29] kbagchiGWC commented on #113
@carlosefonseca Thanks for bringing this to our attention. We will have a fix available ASAP.

[2017-11-15 03:35] idelgado commented on #82
We've been trying to reproduce this issue with some of the reported devices. We believe that this is happening based on multiple reports from users in this ticket but we have not reproduced it locally with our own team using the quickstart or our test app.

So far we've tested with the following:
**Scenario 1**
Device A: Samsung Galaxy S7 (SM_G935T), Android 7.0, T-mobile
Device B: Nexus 6P, Andro

[2017-11-15 20:25] fangzhzh commented on #82
I guess the point here is “using the headset”, can you try Device A(Cradle) call device B(phone network) without any headset or bluetooth, Device B is the one will here the echo.

I added the exact code just now and tried once. But I got no luck.

[2017-11-24 10:19] TuanTuan commented on #40
any update for this issue? @kbagchiGWC

[2017-11-24 11:35] kbagchiGWC commented on #40
@TuanTuan Unfortunately we still don't have an update on this issue. I will keep you posted when we make any progress in this area.

[2017-11-29 14:27] beinghassandar1 opened #114 "Error: 31301, Hostname ers.twilio.com not verified on Regestering Firebase"
When i try to register firebase for incoming call, Registeration listener throws this error

#### Logs
 registrationListener:: onError: Registration Error: 31301, Hostname ers.twilio.com not verified:
                                                                                 certificate: sha1/O2YgtlfNkt7N2Z/yUocPKzTkF1w=

[2017-11-29 15:23] carlosefonseca opened #115 "Calling a shutdown device"
I have a working Android app that receives Twilio calls fine. But if I shutdown the Android device with the app, and try to call it again, Twilio doesn't seem to cancel the call due to being impossible to connect to the client (since it's shutdown). Is there something I can do, either in the Android SDK or somewhere else?

Thanks

[2017-11-29 17:49] kbagchiGWC commented on #114
@beinghassandar1 I am unable to reproduce the error. How reproducible is the issue? Has this ever worked before?

[2017-11-29 18:01] kbagchiGWC commented on #115
@carlosefonseca are you using `Programmable Voice Android SDK` (https://www.twilio.com/docs/api/voice-sdk/android) or `Twilio Client Android SDK` (https://www.twilio.com/docs/api/client/android)? Can you elaborate on what you mean by "I shutdown the Android device with the app"?

If you are using `Programmable Voice Android SDK`,  you can call `unregister(...)` to stop receiving incoming call noti

[2017-11-29 18:19] idelgado commented on #114
@beinghassandar1 can you try to perform registration on another network? It's possible that this network or network device settings is not correctly reaching `ers*.twilio.com`.

[2017-11-29 18:20] carlosefonseca commented on #115
@kbagchiGWC That will be helpful in some cases, I can listen to the Android's shutdown broadcast and do an `unregister`/`unlisten`.

But for instance, if I force shutdown the device or pull the battery or do not have internet or whatever, none of which I can handle, if I call that device, Twilio will just keep ringing. Shouldn't server-side Twilio abort if the client doesn't respond in time or som

[2017-11-29 18:29] kbagchiGWC commented on #115
@carlosefonseca there is no auto unregister and we do not plan to implement it in the future.
If a call is not answered by the callee, either due to network connectivity on the callee side or something else, outgoing call will timeout in `~30` seconds.

[2017-11-29 18:33] idelgado opened #116 "Call results in a crash when initializing audio fails"
### Description

A customer reported the following crash. This is the original ticket that was filed in the Client quickstart repository: https://github.com/twilio/twilio-client-quickstart-android/issues/56

### Steps to Reproduce

1. Place an outgoing call

#### Expected Behavior

Call succeeds

#### Actual Behavior

A native crash occurs

#### Reproduces How Often

100%

#### Logs

[code]

### V

[2017-11-29 18:34] kbagchiGWC commented on #115
@carlosefonseca can you specify the SDK are you using? Programmable Voice Android SDK (https://www.twilio.com/docs/api/voice-sdk/android) or Twilio Client Android SDK (https://www.twilio.com/docs/api/client/android)?

[2017-11-29 19:41] carlosefonseca commented on #115
@kbagchiGWC Thanks for the info.
I'm using the new one, Voice SDK (`com.twilio:voice-android:2.0.0-beta24`).

[2017-11-29 20:44] kbagchiGWC commented on #115
Thanks for confirming. If you have no further questions, feel free to close the issue.

[2017-11-29 21:17] #115 closed

[2017-11-30 06:05] beinghassandar1 commented on #114
what really bugs me is that when I went through your app.  There is no code to initialize Firebase instance except the code to register FCM which is given already in above comments. When I tried to import same code  into my project. It first gives me an error to initilize Firebase instance. When I do with
` try {
            FirebaseApp.initializeApp(this);
        } catch (Exception e) {

[2017-11-30 12:32] beinghassandar1 commented on #114
Hey guyz, I wanna inform you that our app is using GCM for other functionality. Can FCM for Twilio be used with GCM ?

[2017-11-30 16:54] kbagchiGWC commented on #114
@beinghassandar1 If you want to use GCM, you need to pass, `Voice.RegistrationChannel.GCM` as the `RegistrationChannel` type when you register for incoming call push notification.

[code]

Make sure to choose GCM type while creating a Push Credential.
![image](https://user-images.githubusercontent.com/10856725/33443095-95731e6e-d5ab-11e7-9918-863ac506817f.png)

Are you still getting `registrationL

[2017-12-01 23:39] kbagchiGWC commented on #113
@carlosefonseca We have fixed the bug(CLIENT-4162) you reported here in [beta25](https://www.twilio.com/docs/api/voice-sdk/android/changelog#200-beta25). Please give it a try and let us know if you have any questions.

Thanks for reporting the issue.

[2017-12-04 12:04] beinghassandar1 commented on #114
yuppp same error

[2017-12-04 13:48] beinghassandar1 commented on #114
issues resolved. There was an internal issue in our app. You can close the issue now.

[2017-12-04 15:29] kbagchiGWC commented on #114
Great to hear. Thanks for letting us know.

[2017-12-04 15:29] #114 closed

[2017-12-06 10:37] beinghassandar1 opened #119 "Server Script for Twilio Voice in PHP"
Hey guys as you have mentioned the link https://github.com/twilio/voice-quickstart-server-python for server script in python. The problem is we use php at our server-end. Can you guys direct me to the server script for PHP. We are implementing Twilio Programmable Voice on Android as well as iOS.
#### Voice Android SDK

[e.g. 2.0.0-beta24]

#### OS Version

[e.g. Android 7.1]

#### Device Model
Sam

[2017-12-11 08:29] beinghassandar1 commented on #119
Hello? anything ?

[2017-12-13 08:41] idelgado commented on #119
@beinghassandar1 thanks for reaching out and sorry no one responded earlier. At the moment we do not have a PHP sample available. We will add it to our backlog but it may take some time to get this to you. However, the underlying support is available via the PHP helper library so it is possible to port the Python code to PHP (https://www.twilio.com/docs/libraries/php).

[2017-12-13 21:20] kbagchiGWC commented on #116
@BeanStalka We have released https://www.twilio.com/docs/api/voice-sdk/android/changelog#200-beta26 today. Now Android Voice SDK will retry with a fallback audio device implementation when Devices or emulators fail to start the audio device. The issue you reported above failed to initialize using OpenSLES. With beta26, it will retry to initialize using Android JNI after OpenSLES initialization fai

[2017-12-19 11:21] hjhlove110 opened #123 "Incoming call can not work well"
Hello there
I use voice-quickstart-android demo,
When I use the client to make a call,
Answer the call without sound what is the reason?
Console log everything is normal,
How do I need to troubleshoot this issue?
Thank you very much, hope you can see and help me.

[2017-12-20 00:21] wittyreference commented on #119
@beinghassandar1  there's two pieces to the server-side you need to account for; first the token generation, and then the TwiML generation on the other side of the application SID that your outbound calls are pointed at.

For the Access Tokens we've got that documented in PHP here: https://www.twilio.com/docs/api/rest/access-tokens

[code]
The other piece is TwiML generation, really we just need t

[2017-12-20 04:19] fangzhzh opened #124 "endless incoming call notification"
### Description
It rarely happens when we are testing. But our user keeps reporting the problem.

### Steps to Reproduce (this is the one does reproduce the bug one day, but can't reproduce later)

1. phone(customer) call one twilio number
2. in twiML, we returned two people(agent 1, agent2)
3. agent 1 and agent 2 picks up the phone at almost same time
4 agent 1 connects, agent 2 fails to connect

[2017-12-20 12:24] idelgado commented on #124
Will email. Thanks. In the meantime if you have the Call Sid associated with these scenarios we could investigate how many push notifications were sent by our infrastructure.

[2017-12-20 20:30] fangzhzh commented on #124
@idelgado only one notification sent by twilio server. The in call notification still goes in even I switched off network.

[2017-12-20 22:28] idelgado commented on #124
I reviewed your video. It would be great to verify how many and which type of incoming notifications you are receiving from GCM or FCM. Can you dump the FCM data when you receive it in `FirebaseMessagingService.onMessageReceived(...)`

[code]

[2017-12-20 22:30] idelgado commented on #124
I'd also be interested to know what Call SIDs, if any additional were created, when you started receiving the additional notifications. I wonder if your code is unintentionally initiating calls during an active call.

[2017-12-21 01:58] fangzhzh commented on #124
I'm sorry that the recording doesn't help much.

This happened two month ago, I didn't save my log.

I'll try to reproduce this and post the log if I success.

[2017-12-26 12:59] rochapablo commented on #95
@khurana3192, have you found a solution for this or for **ConnectionService**?

[2018-01-03 11:04] khurana3192 commented on #95
I am still looking for a pre-baked solution to cut down my research time :(

[2018-01-04 11:50] chakri1vr1 commented on #95
I am also facing the exact same issue, the screen lights up and then the activity gets destroyed. I have already tried all the answers present on SO like setting windows flags, manifest permissions, acquiring wake locks. Nothing seem to work surprisingly. @khurana3192 Any help/ progress from the situation? @abhinay-w3bminds Any other pointers?

[2018-01-10 22:58] kbagchiGWC commented on #123
@hjhlove110 Thanks for getting in touch with us.

We need some additional details for the issue you reported. Please provide the following information to help us debug.

1. What version of the SDK are you using?
2. Are you making a call to another client or a PSTN number?
3. Is there no audio for both the caller(voice-quickstart-android) and the callee side?
4. How reproducible is the issue? Is it

[2018-01-11 13:56] Harshjain2094 commented on #9
@idelgado Any update on this?

[2018-01-13 09:36] VJ-Vicky commented on #9
@idelgado Can you please provide some update on this Sir, it's more than a year now and I think this is THE BASIC need for the SDK? Please update on this issue. Twilio is known for its excellent service and great support but not having this very basic functionality ready for over a year makes people think about there opinions of Twilio being one of the best Programmable Audio and Video service pro

[2018-01-17 04:21] fangzhzh opened #129 "different callInvite object if passed from VoiceFirebaseMessagingService to a Service instead of Activity"
### Description
If I handle incoming call, "twilio.voice.call", in a service instead of Activity, the cancel message, "twilio.voice.cancel", still goes in to handleMessage callbacks.

I did some trace, then I realized twlio SDK and sample project pass callInvite object from VoiceFirebaseMessagingService to VoiceActivity.

Then callInvite object's accept will change it's status to ANSWERED.

So the

[2018-01-17 05:43] idelgado commented on #123
Closing due to inactivity. Please re-open if you have follow up information.

[2018-01-17 05:43] #123 closed

[2018-01-17 05:43] idelgado commented on #116
Please re-open if the issue can be reproduced with 2.0.0 or above.

[2018-01-17 05:43] #116 closed

[2018-01-17 05:44] #113 closed

[2018-01-17 07:09] idelgado commented on #74
After further review we were not able to make any additional changes to reduce the time between calling disconnect and receiving the onDisconnected callback. The recommendation I listed above is the approach developers should take if they want to immediately transition to another action after disconnecting. We perform all of the work off the main thread so your application can proceed with any oth

[2018-01-17 07:09] #74 closed

[2018-01-18 08:35] aashu09 commented on #100
@idelgado As you added this ticket in **"enhancement"**, so are you trying to resolve it?

[2018-01-18 10:21] vaibhavdroid commented on #38
hello @kbagchiGWC i am also facing the same issue as @iphubpush facing

[2018-01-18 10:29] kbagchiGWC commented on #38
@vaibhavdroid @iphubpush had to fix his TwiML application logic to get this resolved. Can you provide some details on your business logic? Do you have a CallSid that you can share?

If you want to discuss outside this forum, open a [support ticket](https://www.twilio.com/console/support/tickets/create) and let me know the ticket number here.

[2018-01-18 10:56] vaibhavdroid commented on #38
thanx for your Qucik reply

[2018-01-18 11:12] vaibhavdroid commented on #38
@kbagchiGWC  can i directly contact you

[2018-01-18 19:32] kbagchiGWC commented on #38
@vaibhavdroid I would prefer a support ticket. When you open a support ticket, the issue is visible to more engineers which means more help.  Paste the ticket number here when done.

[2018-01-18 22:29] idelgado commented on #129
It looks like you are passing the CallInvite to your CallService and the Activity via an Intent https://github.com/fangzhzh/voice-quickstart-android/blob/81d6d530b1878cf014ba68c4c6c3d7b470078c33/app/src/main/java/com/twilio/voice/quickstart/fcm/VoiceFirebaseMessagingService.java#L161-L171.

As a result this will marshal the object and pass the data as a map to the CallService and Activity. This wi

[2018-01-18 22:37] idelgado commented on #100
@aashu09 we're investigating this issue and think we may have a workaround modifying the audio focus via AudioManager. We need to test this out and provide you with a potential workaround. We'll follow up next week.

[2018-01-18 22:39] idelgado commented on #124
Please re-open if you experience this issue.

[2018-01-18 22:39] #124 closed

[2018-01-18 22:46] idelgado commented on #9
I empathize with your sentiment. The voice infrastructure team has sized this work and is adding it to their roadmap. I will provide a date very soon.

[2018-01-19 00:18] fangzhzh commented on #124
thanks

[2018-01-19 00:20] fangzhzh commented on #129
@idelgado passing CallInviate to Activity via intent is the way that used by this sample project

[2018-01-19 05:57] VJ-Vicky commented on #9
@idelgado Thanks for your reply, Hope to get a delivery date very soon for this.

But for time being I implemented the [Flask-SocketIO](https://github.com/miguelgrinberg/Flask-SocketIO) on server and on client side I implemented [SocketIO-Client](https://github.com/socketio/socket.io-client-java) and used the [statusCallback](https://www.twilio.com/docs/api/twiml/client#attributes-status-callback)

[2018-01-19 15:04] carlosefonseca opened #130 "Hanging up immediately after calling can make the destination still ring"
### Description

On this demo and on our app, if I start a call and immediately disconnect, most times the destination phone still rings.

### Steps to Reproduce

1. Make this demo work.
2. Call a number.
3. Disconnect as soon as possible (while in the connecting state).

#### Code

This demo.
I didn't change call code from this demo, only the access token, some build settings required by Android

[2018-01-21 20:21] fangzhzh commented on #129
I'll close this.

But as a reminder in case someone experience the same problem.

## First message: Voice.handleMessage
- Voice.handleMessage
- onCallInvite

[code]

## second message: twilio.voice.cancel
Voice.handleMessage,

[code]

So if you want the sdk handle the second cancel message correctly, ```If you need to pass the same object to both your service and the activity I would recommend usi

[2018-01-21 20:21] #129 closed

[2018-01-23 19:01] kbagchiGWC commented on #130
@carlosefonseca I checked with our backend team regarding `CA4f6c3ca84778b5d7d400ff8b6a56d0f2` and `CA0259affbeff594bf7805650dec7d4b87`. Seems like the backend never received the disconnect requests for these two calls. That's the reason the destinations continued to ring.

SDK has a disconnect timer in place to guarantee that `Call.Listener.onDisconnected(...)` is raised within 1 second after cal

[2018-01-24 03:55] fangzhzh opened #131 "java.lang.NullPointerException at com.twilio.voice.CallCommand.startCall"
## version
- com.twilio:voice-android:2.0.3

## description

I found this crash in my log, It's very hard to reproduce in the sample app. But it did happen.

And the crash log itself is very expressive.

### Description

[code]

After this crash, the following call will never go out.

I saw log like this
[code]

[2018-01-24 04:39] fangzhzh commented on #131
and the full log
[code]

[2018-01-25 18:00] shahzad1 opened #132 "Connection declined"
Hello , I'm trying to make call on phone number. I've successfully done client side(android). Also deployed on Heroku.
But when I make call on phone number. I'm having this error:
Connection declined: Token does not allow outgoing calls
Can anybody help me?

[2018-01-25 23:04] kbagchiGWC commented on #132
@shahzad1 You are using https://www.twilio.com/docs/api/client/android which has been deprecated and replaced by https://www.twilio.com/docs/api/voice-sdk/android. We strongly encourage you to use the latest SDK. The new SDK has better API and better background support. You can find details and download links in https://www.twilio.com/docs/api/voice-sdk/android/changelog. Please let me know if you

[2018-01-26 01:49] fangzhzh commented on #131
@kbagchiGWC any idea?

[2018-01-26 02:33] kbagchiGWC commented on #131
@fangzhzh I believe what happened here is - a `Call` ended and SDK was in the process of releasing resources including `UserAgent` when another `Call` was initiated. In our SDK, we maintain only one instance of `UserAgent` at all times. This seems like a corner case of timing issue where SDK did not have any active calls and started the shutdown process. At the same time a call was initiated witho

[2018-01-29 14:29] 28development opened #134 "step 9 receiving incoming Notification which server"
So I am going trought the tutorial right now and I stuck this part:
 9. 9. Receiving an Incoming Notification.

More precisly this part:
Once you’ve done that, restart the server so it uses the new configuration info. Now it's time to test. Use your browser to initiate an incoming call by navigating to the "localhost:5000/placeCall" . This will trigger a Twilio REST API request that will make an i

[2018-01-29 14:37] idelgado commented on #134
Try /placeCall on your server address. If its port 3000 then disregard the 5000. We’ll update the quickstart to point out that the port may be different based on the server quickstart being used.

[2018-01-29 14:54] 28development commented on #134
So I basically just call port 3000 with /placeCall ?

[2018-01-29 15:02] 28development commented on #134
Ok so my console returns values like this if I open / refresh 3000/placeCall

CA6244f99594d2436590e98f1639c6d051

But I do not get a notifications

[2018-01-29 18:11] kbagchiGWC commented on #134
@28development We have identified some discrepancies in the quickstart server implementation and the README.

https://github.com/twilio/voice-quickstart-server-node/blob/master/src/server.js#L75 expects the client you are dialing to be passed as the query param or the query body.

Apologies for the inconvenience. We will fix it today.

[2018-01-29 21:30] fangzhzh commented on #131
@kbagchiGWC Hard here means it didn't happen to all our real end user.

I firstly found it in Fabric, then we reproduced it during our test.

This morning, I reproduced it in the voice-quickstart-android project.

You can reproduce it by simple doing:

Make a call, hang up, make another call, hang up, and so on.

[2018-01-29 21:36] kbagchiGWC commented on #131
Thanks @fangzhzh. We will take a look and provide an update.

[2018-01-30 01:33] maxannear commented on #10
@idelgado We also have a very similar requirement - knowing the original number the caller dialed. You mentioned in https://github.com/twilio/voice-quickstart-android/issues/111 that the back-end doesn't support sending user-provided meta-data which I can appreciate is outside the scope of the Android SDK. The `/Calls` REST API does provide a bunch of information that isn't exposed in the Android

[2018-01-30 09:13] 28development opened #135 "Android App which values for these contants for notifcations and further use..."
Current I am going through this tutorial and stuck at sending notifications, the node server runs on port 3000 and I use ngrok to publish it for now.

Currently if I call https://de07c70e.ngrok.io/placeCall
I get no notifications but my console returns a string like this:
CB7272a56bf05f80b1b403f2d063760fd1

Inside the Android I saw following contants, which are not mentioned in this tutorial:

[2018-01-30 17:43] kbagchiGWC commented on #135
@28development
Can you try `https://de07c70e.ngrok.io/placeCall?to=alice` to place the call?

When `to` is not supplied, by default the https://github.com/twilio/voice-quickstart-server-node should be making a call to the default identity `alice`, but it is not doing that as of now. I have fixed the issue and it is in a [PR](https://github.com/twilio/voice-quickstart-server-node/pull/4/) at the mo

[2018-01-30 21:31] kbagchiGWC commented on #135
@28development - we have fixed the issue and updated [voice-quickstart-server-node](https://github.com/twilio/voice-quickstart-server-node) . Please give it a try and let me know if you run into any issues.

[2018-02-01 15:29] 28development commented on #135
@kbagchiGWC Hi thanks for the support. I am not sure what I am doing wrong:) I updated the code and if I open the url: https://faec43ea.ngrok.io/placeCall
The page returns a string like this: CAca4dd68973058a104c76df2ad7468913

But I do not get a notification on my device. Do I need to add something to my java code

[2018-02-02 22:32] idelgado commented on #134
Closing this since there is a new issue opened with additional questions.

[2018-02-02 22:32] #134 closed

[2018-02-04 01:05] idelgado commented on #119
We recently added a PHP quickstart server that can be found here: https://github.com/twilio/voice-quickstart-server-php

[2018-02-04 01:05] #119 closed

[2018-02-04 01:06] #96 closed

[2018-02-04 13:37] kbagchiGWC commented on #135
@28development Was `alice` registered successfully?  You ca confirm by looking for this line in your log https://github.com/twilio/voice-quickstart-android/blob/master/app/src/main/java/com/twilio/voice/quickstart/VoiceActivity.java#L157.

Also make sure to change the `REQUEST URL` in your TwiML app every time you restart `ngrok`.

Were you able to run the app and listen to the hear the congratula

[2018-02-06 10:41] kunalverma604 opened #139 "Passing Caller Name in Voice calls"
I have integrated Twilio voice in an android app for one to one voice calling. I am able to connect with two identities successfully but I am not able to get any handle to pass caller name.
If I examine the content of incoming call notification there a weird number come which is not linked to my id.
Also, I want to pass a URL of caller picture. is there any handle to achieve this?

[2018-02-06 17:45] kbagchiGWC commented on #139
@kunalverma604
There is not a formal way of getting this information but you can overload the `From` field with the following: `client:{callerName#}_{callerNumber#}` and then parse it on the receiving side.
You can try the same workaround to pass the URL as well `client:{callerName#}_{callerNumber#}_{url}`.

Give this a try and let me know how it goes.

[2018-02-06 20:47] fangzhzh commented on #139
What's the length limit of From?

[2018-02-06 22:33] vishal2947 opened #141 "Getting Call Id just after call disconnects"
Hi,

After the call has been disconnected, is there any way to get the particular call id(CallSid) from Android application? I want to use this call id to map the recording url which i will get on Webhook.

Thanks a lot.

[2018-02-06 22:44] idelgado commented on #141
You can use `getSid()` on the `Call` object. Once the call has `connected` the Call SID is available to query. This is a unique id associated with the call.

[2018-02-06 22:46] vishal2947 commented on #141
Thanks for quick response. Currently my code looks like this:

`activeConnection` = `clientDevice.connect(params,this);`

How can i get Call SID from activeConnection?

[2018-02-06 22:47] vishal2947 commented on #141
Got it what you meant to say. Closing this :)

[2018-02-06 22:47] #141 closed

[2018-02-07 06:24] kunalverma604 commented on #139
Hi @kbagchiGWC
I tried this method. Now I am getting identity value of caller in "from" field.
Following is android client code :
twiMLParams.put("from", "client:"+callerName);
 activeCall = Voice.call(VoiceActivity.this, context, Constants.TWILIO_ACCESS_TOKEN), twiMLParams, callListener);
I am using java server .. following is the java server code . I am fetching "from" and assigning it to CALLER

[2018-02-07 09:35] kbagchiGWC commented on #139
Great. If you don;t have any further questions, please close the ticket.

[2018-02-07 10:42] kunalverma604 commented on #139
thanks, But I would like to keep it open for some more time till I complete the implementation.  after this I will try to pass the url .. SInce the url may be long, I am suspecting this may create trouble if goes beyond field size. any idea what could be max length of "identity" field.

[2018-02-08 23:37] kbagchiGWC commented on #139
[`callerId` in `<Dial>`](https://www.twilio.com/docs/api/twiml/dial) verb is meant for `a valid phone number, or client identifier if you are dialing a <Client>`. Though there  is no hard limit documented for this field, I would suggest you to be cautious while overloading this field for a different purpose.

We acknowledge the gap in the solution for passing custom parameters to the push notifica

[2018-02-09 17:16] kbagchiGWC commented on #95
@khurana3192 , @chakri1vr1,

We have updated [voice-quickstart-android](https://github.com/twilio/voice-quickstart-android)
to demonstrate how to enable users to directly see a screen to accept or reject call , instead of clicking on the notification and then the dialog box. This works when the screen is locked as well.

It took us sometime to get to it, apologies for delay. Hope this helps. Pleas

[2018-02-09 18:47] idelgado commented on #95
The PR with the changes can be found here: https://github.com/twilio/voice-quickstart-android/pull/143

[2018-02-11 06:08] tdellard1 opened #144 "Can we create our own from scratch?"
I want to create the android project from scratch without using this repository, for certain reasons. Are there any documentation on how to create the Voice Android project from scratch, or am I stuck just having to utilize this Quick Start if I want to use it?

[2018-02-11 07:21] idelgado commented on #144
Yes. The quickstart is intended to show you how to get started and how to use the API.

[2018-02-11 11:30] yashs360 opened #145 "Terminating call from caller's end before receiver accepts the call does not kill the call dialog on the receiver's end"
### Description

On called device, terminating call from caller's device does not trigger Call.Listener disconnect if Called person doesn't accept call

### Steps to Reproduce

1. Bob calls Alice
2. Alice doesn't pick the call
3. Bob disconnects the call
4. Alice still has the call dialog on her screen. Firebase message is received (twi_message_type=twilio.voice.cancel). But Call.Listener onDiscon

[2018-02-11 13:25] tdellard1 commented on #144
Ok that clears a few things up a bit. Last thing, if I want to learn the ins and outs, is there a guide for the android voice sdk, an in depth documentation on what every part of the sdk is, or am I just going to have to look through this quick start and try to figure it out from there?

Sorry if this is a novice question, i am new to twilio and programming in general.

[2018-02-11 15:52] #144 closed

[2018-02-12 06:00] tonysumi commented on #144
You can use plugin as well
https://github.com/jefflinwood/twilio-voice-phonegap-plugin

[2018-02-12 20:49] kbagchiGWC commented on #145
@yashs360
In case of incoming call, the `Call.Listener` gets added to the `CallInvite` only when the call is accepted. You can refer to [voice-quickstart-android]( https://github.com/twilio/voice-quickstart-android/blob/master/app/src/main/java/com/twilio/voice/quickstart/VoiceActivity.java#L420) as example.
[code]
Some time later, your app will receive another notification with `twi_message_type=

[2018-02-13 02:14] yashs360 commented on #145
My code handles the incoming intent slightly differently.

My scenario:
There is a Activity which is the phone book. User clicks on the contact. This initiates the call in a new Activity, not a call dialog. Hence I cannot just check if call dialog is open.
I would probably need some mechanism to check if the other Activity is open. My handleIncomingCallIntent is in the previous activity now, hence

[2018-02-14 03:41] yashs360 commented on #145
Hi @kbagchiGWC , more details here and followup questions.

Details:
Same scenario as above. Bob the caller, calls Alice the receiver. Bob disconnects before Alice receives the call.

Alice's logs:
[code]

As you can see. The FBMessagingService does receive the Cancel request. Now the issue is that the sendCallInviteToActivity() is not triggering the intent in the Base activity. Here VoiceBroadcas

[2018-02-14 04:50] kbagchiGWC commented on #145
Hi @yashs360

We modified the [voice-quickstart-android](https://github.com/twilio/voice-quickstart-android) recently so that incoming calls can be actionable on lock screen. https://github.com/twilio/voice-quickstart-android/pull/143 is the PR for these changes.

With this change, when `VoiceFirebaseMessagingService.java` receives a call or a cancel notification, it builds an intent starts [`Voic

[2018-02-14 05:13] yashs360 commented on #145
@kbagchiGWC very interesting. Well I don't mind using this approach of new intent. Infact I like it. How do you close this Activity when the caller hangs up ?

Assuming I opened a new intent using the this.startActivity(intent). And now I get another event for cancel, how do you close the intent that you opened sometime back ?

[2018-02-14 06:36] kbagchiGWC commented on #145
@yashs360
If you want to close the activity, you can call  `VoiceActivity.this.finish()` in place of this code https://github.com/twilio/voice-quickstart-android/blob/master/app/src/main/java/com/twilio/voice/quickstart/VoiceActivity.java#L272-L275.

[code]

[2018-02-14 08:13] yashs360 commented on #145
@kbagchiGWC I can't do VoiceActivity.this.finish(), because my call is in a second Activity called CallActivity. VoiceActivity is just a contact list for me. I need to have a reference of CallActivity somewhere to be able to close it.
No worries. I will keep digging on my side and revert back with questions. Thanks for being so helpful.

[2018-02-14 08:59] yashs360 commented on #145
@kbagchiGWC Problem solved.

I had to create another VoiceBroadcastReceiver in my second activity with a different action name in intent. And in the FBMessagingService I send an cancel intent broadcast which the second activity picked and finished itself.

[2018-02-14 21:35] kbagchiGWC commented on #145
That's great. Happy to know that it is working as expected. If you don;t have further questions, please close the ticket. Feel free to get in touch with us and open a new issue for future needs.

[2018-02-14 22:19] yashs360 commented on #145
All good. Thanks for all the help. 🎉

[2018-02-14 22:20] #145 closed

[2018-02-15 12:15] somasekharkakarla opened #147 "Call Error: 31005, Connection error"
### Description

No able to connect, I used the PHP code for testing. it making a call with auth token. but in android, it is not working. I followed the steps and added access token to it.  and it generating the token too. but connect not establishing

and our server is on http is that cause any issue

[2018-02-15 16:46] kbagchiGWC commented on #147
Hi @somasekharkakarla,

What error do you receive when the call attempt fails? If the failure is due to an error, you will receive error details in `Call.Listener.onDisconnected(Call call, CallException error)` or in `Call.Listener.onConnectFailure(Call call, CallException error)` callback. In `voice-quickstart-android` it is recorded in these lines https://github.com/twilio/voice-quickstart-andro

[2018-02-16 05:18] somasekharkakarla commented on #147
com.twilio.voice.quickstart D/EventPublisher: Start publishing events to : https://eventgw.twilio.com/v3/EndpointEvents
                                                                            {"name":"error","group":"connection","timestamp":"2018-02-16T05:15:03.217Z","level":"INFO","private":false,"payload_type":"application\/json","publisher":"twilio-voice-android","publisher_metadata":{"clie

[2018-02-16 06:53] somasekharkakarla commented on #147
We resolved the issue. it is due to we commented import config file in accesstoken.php

[2018-02-16 06:53] #147 closed

[2018-02-16 06:54] kbagchiGWC commented on #147
Great to know. Thanks.

[2018-02-16 10:14] khurana3192 commented on #95
This is awesome.
Thanks for the update @kbagchiGWC @idelgado, will try to  implement these changes in my current app. I was looking for someone from Twilio team to review our code, as many of our existing users are facing problems around our app. Can this be a possibility?

[2018-02-16 15:39] kbagchiGWC commented on #95
@khurana3192 Is your code in github? What kind of issues are you having? If you provide details, we will try to help you as much as possible.

[2018-02-16 15:52] khurana3192 commented on #95
The problem that I am facing at the moment - once the activity opens up it gets called again somehow and canels the flow of call.
My app compromises of many other features apart from  calling. One of the activity that handles an ongoing call is called when I receive an incoming call Invite, but as soon as the call is accepted or answer method is called, the activity is triggered again causing the

[2018-02-16 19:14] kbagchiGWC commented on #95
@khurana3192 You can send the gist link to my email kbagchi@twilio.com.

[2018-02-17 19:07] Migraine-42 opened #149 "Long delay between invite.accept and event onConnected"
### Description

3 second delay between invite.accept and voice.connected

### Steps to Reproduce

1. place a call to your phone from any phone.
2. when the dialog for accept/reject pops up select accept
3. notice how long it takes to get to the connected state.

#### Code

[code]

#### Expected Behavior
the delay shouldn't be more than .1 s.  ( like in the browser version )

#### Actual Behavior

[2018-02-19 06:34] abhinay-w3bminds opened #150 "BroadcastReceiver dies after swiping app from recent app list"
As in voice-quickstart-android I implemented broadcast receiver in my app and register it from Activity class, this worked fine until app is swiped from recent list. So I registered BroadcastReceiver in manifest, It worked like charm even after swiping it from recent app list. But registering BroadcastReceiver in manifest is not working in Android Oreo devices after swiping. I can manage this by a

[2018-02-20 08:19] kbagchiGWC commented on #150
@abhinay-w3bminds

I can't test this right at this moment but according to https://developer.android.com/about/versions/oreo/background.html#broadcasts, explicit broadcasts should still work.
[code]

If you want to move away from `BroadcastReceiver`, refer to our recent changes in `voice-quickstart-android` that made the incoming call actionable on lock screen.
The changes are in https://github.co

[2018-02-20 12:38] abhinay-w3bminds commented on #150
ok thanks for the help, that worked fines.

[2018-02-20 12:38] #150 closed

[2018-02-21 19:45] kbagchiGWC commented on #95
@khurana3192

I am glad that your app is working as expected. Please close the ticket if you don't have further questions. Feel free to open a new issue for any future needs.

[2018-02-21 21:06] kbagchiGWC commented on #149
@Migraine-42

Can you provide few CallSids? Are you behind a corporate firewall and a proxy that adds to the delay?

[2018-02-22 08:12] kunalverma604 commented on #139
Since profile url is a CDN link ..it is long text so I didn't tried  to send along identity field. Instead I passed my system user_id  in identity {user name}__{user_id} (e.g. ..Steve_smith__12).I am using "__" double underscore  as a token to get user id and then calling a async service to fetch the user profile url .

[2018-02-22 08:12] #139 closed

[2018-02-25 04:30] #95 closed

[2018-02-25 04:30] khurana3192 commented on #95
@kbagchiGWC Thanks for all your help :) I will be glad to answer here, if anyone is facing this issue or trying to achieve the same thing

[2018-03-03 07:20] yschang opened #151 "Error -38 during AudioRecord native read"
### Description

Hello. I have implemented a button to initiate a call, but it keeps going to onDisconnected() from the Call.Listener(). I looked at the log to see what the issue is and I found Error -38, which is not mentioned anywhere in the Internet. Here is the code I have:

#### Code

[code]

#### Expected Behavior

It should go through onConnected() instead of onDisconnected().

#### Actual

[2018-03-05 19:41] idelgado commented on #151
Hi. Does your app use any other audio components that also require audio capture? I wonder if there is another library using audio capture?

Can you trying using the quickstart with no modifications with the same device?

[2018-03-06 05:24] doananhtai opened #152 "Make a call and get "disconnected-by-remote" immediately"
### Description

when use Voice.call(...) to make a client to client call... it get the onDisconnected with error is null

### Steps to Reproduce

- just make a call with Voice.call(...)

#### Code

[code]
Call.Listener callListener = callListener();

    private Call.Listener callListener() {
        return new Call.Listener() {
            @Override
            public void onConnectFailure(Call

[2018-03-06 18:21] kbagchiGWC commented on #152
@doananhtai
You are receiving a `603` from the Twilio backend. You can search for `on_call_tsx_state status code 603` in the log to see this error. At present, the SDK does not surface this error and that's why your app is receiving a `onDisconnected(...)`  callback without an error.

This error can happen, if your app server (the one serving TwiML) for outgoing call, is unreachable or the TwiML i

[2018-03-07 02:09] doananhtai commented on #152
Thank for your reply

In my case I only want to make a call CLIENT to CLIENT (not CLIENT to PSTN).

I am sorry for the log I had posted, I forgot replace the value of "to" with the identity (I use userID as the identity for CLIENT to CLIENT).

And now when I correct the "to" field with the Identity (not telephone number) as is:

[code]

I still get the same result - disconnected with error is null

[2018-03-07 06:30] kbagchiGWC commented on #152
@doananhtai
For CallSid The TwiML that your server generated is :
[code]
It should have been `client:22faed3fabc94294a456f36884e10587` instead of '22faed3fabc94294a456f36884e10587` inside the `<Client>` tag.

I curled your server (`curl https://****.*****vietnam.com/v*/m********/voice/makeCall?to=22faed3fabc94294a456f36884e10587`) and believe you have fixed the issue.
[code]
Let me know if the pro

[2018-03-07 06:45] doananhtai commented on #152
Thank you for your reply
But I still stucked in this problem

In Server Side

[code]

The voice request URL returns TwiML with instructions as below:
[code]

I still got the error "on_call_tsx_state status code 603" and "disconnected-by-remote"

[2018-03-07 07:23] kbagchiGWC commented on #152
@doananhtai
`curl -X GET https://****.*****vietnam.com/v*/m********/voice/makeCall?to=""` produces ,
[code]
How does your `/makeCall` endpoint code look? Did you modify the code demonstrated here https://github.com/twilio/voice-quickstart-server-java/blob/master/src/main/java/com/twilio/Webapp.java#L97-L101?

If you use the https://github.com/twilio/voice-quickstart-server-java  code as is , `curl

[2018-03-07 07:57] doananhtai commented on #152
@kbagchiGWC
Thank you very much

I had to revert my code as the code demonstrated

Make Call:

[code]

Function Call:

[code]

The response of  two case (empty and not empty recepient)
I still get the 603 error and "disconnected-by-remote" as below.

response of empty.
[code]

Response of None-empty
[code]

I am looking forward your reply.

[2018-03-07 16:35] kbagchiGWC commented on #152
Hi @doananhtai - can you provide few CallSids with your changes?

[2018-03-08 01:30] doananhtai commented on #152
Hi @kbagchiGWC
100% make calsl get 603 error

These are 3 CallSids from the latest failed calls
CA4fd01029e4b47ea00fba60e299051c70
CAf17db0d2ec5dbb3560e282fd4efe1dd0
CA3193d190087b4642951a5282d506771f

Thanks in advance.

[2018-03-08 03:25] doananhtai commented on #152
Hi @kbagchiGWC
Thank you for your reply.
You have help me so much...

Now I can hear the voice "Congratulations! You have made your first call! Good bye." when make a call with empty recepient

But when make a call with recipient "9dd0cdc4ca6042dfb3f4e8841505b0e2"

[code]
I still get "disconnect from remote" with  on_call_tsx_state status code 200 (not 603 any more).

CALL SID
CA826022824252b47a2e

[2018-03-08 05:58] kbagchiGWC commented on #152
@doananhtai You have an extra `client:` in your destination. Your server should have generated the TwiML as below:
[code]
With your current implementation what twilio reads as the destination is `client:client:9dd0cdc4ca6042dfb3f4e8841505b0e2`.

[2018-03-08 06:33] doananhtai commented on #152
Thank you very much
You save my life
everything is ok now.

Best Regards.

[2018-03-09 07:01] doananhtai commented on #40
@kbagchiGWC
With the new sdk "com.twilio:voice-android:2.0.4"
can we solve this issue:
**"How to detect the ringing state and IN CALL state when use voice SDK?"**

[2018-03-09 07:29] kbagchiGWC commented on #40
@doananhtai Unfortunately no. `Call.Listener(...)` reports only two `CallState`s - `CONNECTED` and `DISCONNECTED` via the callback calls.

[2018-03-09 09:52] doananhtai opened #153 "A call B, B get push notification with CallInvite.getState() == CANCELED in all cases"
### Description

Recepient get a wrong push

### Steps to Reproduce

1. A call B
2. A disconect or B accept or reject.

#### Expected Behavior

1. A call B
2. B get push  with CallInvite.getState() == PENDDING

3. A disconnect, B get push with CallInvite.getState() == CANCELED (OK)
3. B in both case accept or reject -> B get no push (A should get push ACCEPT / REJECT in the right case.)

#### Actu

[2018-03-10 01:13] basitsattar commented on #95
Hi @khurana3192 , How did you achieved this functionality? did you end up using connectionService?

[2018-03-10 01:18] kbagchiGWC commented on #95
@basitsattar
We have demonstrated how to achieve this  [voice-quickstart-android](https://github.com/twilio/voice-quickstart-android) code. The specific changes you need can be found [here](https://github.com/twilio/voice-quickstart-android/pull/143).

Give that a try and let me know if you have any questions.

[2018-03-10 06:25] kbagchiGWC commented on #153
Hi @doananhtai,
Receiving a cancel notification(`CallInvite` in  `CANCELED` state) is not a bug. Twilio Voice Service is supposed to send cancel notifications to all other devices when one device answers the call. As of now, we do not filter out the device that answered the call. As a result, the cancel notification is sent to all devices registered with the same `identity`. We plan to improve the

[2018-03-12 01:29] doananhtai commented on #153
Hi @kbagchiGWC
OK. I got this.
Thank you very much.

[2018-03-14 10:07] abhinay-w3bminds opened #154 "Which would be best region for call in India to Australia"
Recently we had a call in which caller was from India and receiver was from Australia, in which call quality was really poor. Currently we are setting region from "gll". So do we need to set region for each device manually for getting better call quality. If yes then which would be the best regions for both devices

[2018-03-16 14:49] amrishkakadiya opened #155 "Call is not connecting over wifi "CODE 31005""
I am trying to call number with wifi network but it shows error code 31005 and message is Connection Error.

It works fine with mobile network. but not with wifi.

I am using following dependency versions
`implementation 'com.koushikdutta.ion:ion:2.1.8'`
`implementation 'com.twilio:voice-android:2.0.4'`

[2018-03-16 17:18] kbagchiGWC commented on #155
@amrishkakadiya Are you behind behind a corporate firewall and a proxy when using wifi? Can you include full logs?

[2018-03-16 17:21] amrishkakadiya commented on #155
@kbagchiGWC i am using my home wifi that is completely away from any corporate firewall and proxy. And there is only one exception with code and message that i posted.  I am testing with it, will post logs if i found something in it.

[2018-03-16 17:32] kbagchiGWC commented on #154
@abhinay-w3bminds Ideally choosing `gll` is the best bet, that way the server picks the best route for the call. Do you know what region got picked by the server for this call? Logs from the caller side and the callee side will be very helpful to root cause this issue.

[2018-03-18 09:23] uriel-frankel opened #156 "I get connection failure in the Call.Listener"
In the Call.Listener I get onConnectFailure with this:

03-15 18:32:25.559 12016-12016/com.houzz.app D/CallManager: onConnectFailure() called with: call = [com.twilio.voice.Call@bf8294], e = [com.twilio.voice.CallException: Connection error] 03-15 18:32:25.560 12016-12016/com.houzz.app W/System.err: com.twilio.voice.CallException: Connection error 03-15 18:32:25.560 12016-12016/com.houzz.app W/Sys

[2018-03-18 13:37] #156 closed

[2018-03-20 14:15] khurana3192 commented on #130
@kbagchiGWC @idelgado This is happening with our app as well, if we try to disconnect an activeCall immediately, by calling activeCall.disconnect() before it is connected (before onConnected gets called) - it makes the destination ring.

Any workarounds for this in the meantime?

[2018-03-20 14:27] carlosefonseca commented on #130
@khurana3192 What I'm doing is waiting for it to connect before calling the disconnect and has been find.

[2018-03-20 22:09] kbagchiGWC commented on #130
@carlosefonseca @khurana3192 - we are working on improving this behavior in the SDK by increasing the disconnect timer duration. Increasing the timeout will ensure that in almost all cases the disconnect message will reach Twilio infrastructure and the Call will not be destroyed prematurely. It will also guarantee a local cleanup in case disconnect messages fails to reach the app.

@carlosefonseca

[2018-03-23 18:36] kbagchiGWC commented on #130
@carlosefonseca @khurana3192
We have increased the disconnect timer to 7 seconds as part if [2.0.5](https://www.twilio.com/docs/api/voice-sdk/android/changelog#205) today.  Please try this out and let me know if immediate hangup is still an issue.

Thanks for creating an issue and bringing this to our attention.

[2018-03-27 08:59] aryo commented on #100
I've been looking into this, and -- correct me if I'm wrong -- it seems like both cell calls and Twilio calls use the same audio stream, so muting AudioManager.STREAM_VOICE_CALL will mute the audio of both calls. Bummer that AudioManager doesn't offer more fine-grained control.

I see that `Call.mute()` eventually calls `ConfPort.setTxLevel()` to mute the mic. Could `ConfPort.setRxLevel()` possibl

[2018-03-29 07:12] mwshubham commented on #154
What is `gll` by the way

[2018-03-29 07:20] kbagchiGWC commented on #154
@mwshubham `gll` stands for Global Low Latency. Please refer to https://www.twilio.com/docs/api/voice-sdk/regions for further details.

[2018-04-02 05:51] bhuvaneshwariarkala opened #158 "CALL TO NUMBER"
Hello team,

I am looking into Voice capability through VOIP, and looked at this sample. I was able to make calls from client to client on Android using this sample, but how can we make call from the Android client to other phone number

Please let me know

Thanks,
Bhuvana

[2018-04-02 17:13] kbagchiGWC commented on #158
@bhuvaneshwariarkala

If you are using one the of our quickstart servers (listed below), dialing a PSTN number is very similar to dialing a client.

* [voice-quickstart-server-java](https://github.com/twilio/voice-quickstart-server-java)
* [voice-quickstart-server-node](https://github.com/twilio/voice-quickstart-server-node)
* [voice-quickstart-server-php](https://github.com/twilio/voice-quickstar

[2018-04-03 10:59] imran-samed opened #160 "Registration failed error: 31301"
this error is shown always

**java.security.cert.CertPathValidatorException: Trust anchor for certification path not found.**

i am not able to register using twillio voice sdk

[2018-04-03 15:17] kbagchiGWC commented on #153
@radhasoni65

What happens in step 4 after the call is accepted?  Can you provide logs?

[2018-04-03 15:19] kbagchiGWC commented on #160
@imran-samed

What version of the SDK are you using? Can you please provide logs?

[2018-04-04 04:36] imran-samed commented on #160
**compile 'com.twilio:voice-android:2.0.4'**

[2018-04-04 04:50] imran-samed commented on #160
`04-04 10:18:39.131 24110-24110/com.tamaaas E/VoiceActivity: Registration Error: 31301, Registration failed
04-04 10:18:41.578 24110-24110/com.tamaaas E/VoiceActivity: Connected: null -- CA30cbb82d19a3ba7035e891d8435022d5 -- null --CONNECTED
04-04 10:18:42.736 24110-24330/com.tamaaas V/FA: Inactivity, disconnecting from the service
04-04 10:18:51.323 24110-24363/com.tamaaas E/EventPublisher:  java

[2018-04-04 05:51] radhasoni65 commented on #153
@kbagchiGWC thanks for you reply
At the time of accepting the call bydevice B its get cancelled event within 2-5 seconds and call diconnect but the call is continuous at the Device A Side.Will provide you logs.

[2018-04-04 06:00] radhasoni65 commented on #153
4-04 11:28:30.190 7342-7342/com.app.oyraa D/ViewRootImpl: doProcessInputEvents ViewRoot{36f1ef com.app.oyraa/com.oyraa.ui.activities.CallActivity,ident = 6}
04-04 11:28:30.191 7342-7342/com.app.oyraa D/View: Touch up dispatch to android.support.v7.widget.AppCompatImageView{9e62db8 V.ED..C.. ...P.... 30,0-510,191 #7f1100f6 app:id/btn_call}, event = MotionEvent { action=ACTION_UP, actionButton=0, id

[2018-04-04 12:39] idelgado commented on #160
Hi. Please open a support ticket and provide the ticket number here. We will follow up there. https://www.twilio.com/console/support/tickets/create

[2018-04-05 12:49] #132 closed

[2018-04-05 12:49] #135 closed

[2018-04-05 12:50] idelgado commented on #151
Let us know if you have additional questions.

[2018-04-05 12:50] #151 closed

[2018-04-09 11:39] xiaoniudonghe2015 opened #161 "During the call, Click Force Stop app in Settings"
During the call, Click Force Stop app in Settings, but the call did not break, and the fee deduction continued. That's not true. What should we do?

[2018-04-09 19:27] idelgado commented on #160
Closing due to inactivity. Please re-open if you have additional information.

[2018-04-09 19:28] idelgado commented on #158
Please follow-up if you have additional questions.

[2018-04-09 19:28] #158 closed

[2018-04-09 19:29] idelgado commented on #154
Please follow-up if you have additional questions.

[2018-04-09 19:29] #154 closed

[2018-04-09 19:34] idelgado commented on #161
When an app is force quit, the process is killed by the OS which does not allow the active Call to signal a BYE message to end the call. As a result the Call will eventually end with a timeout error. This timeout can take up to 90 seconds to occur.

If the application follows a typical lifecycle like calling `onDestroy()` on the Fragment, Activity, Service, or Application you can end the call by c

[2018-04-10 08:56] xiaoniudonghe2015 opened #162 "java.lang.NullPointerException: Attempt to invoke virtual method 'void com.twilio.voice"
java.lang.NullPointerException: Attempt to invoke virtual method 'void com.twilio.voice.impl.session.NativeWorkerThread.destroy()' on a null object reference
	at com.twilio.voice.CallCommandHandlerImpl.run(CallCommandHandlerImpl.java:79)

[2018-04-10 18:08] idelgado commented on #161
We are going to reproduce this locally on validate your observation. It's possible that the server has a different session timer than the client.

[2018-04-10 18:15] idelgado commented on #162
Hi. Please re-open this issue with more information. The template provides you with fields that can help us better understand and/or reproduce the issue you are encountering. See https://github.com/twilio/voice-quickstart-android/issues/149 as a good example of how to use the template.

[2018-04-10 18:15] #162 closed

[2018-04-11 08:15] colinyip opened #163 "Play music while call is connecting"
I notices connecting a call could take up to a few seconds sometime and I am trying play some wait music during the time between a call invite is accepted and the corresponding call is connected. Is there's a way to achieve this ? The music seem to be suppressed as soon as CallInvite.accept is invoked.

[2018-04-11 12:53] MarcoCanalcar opened #164 "Android Doze/Standby is terminating the call socket"
### Description

When a call is active for a long time (About 5 minutes in the devices I tested) with the screen off, the socket gets closed by Netd

This occurs because the device enters in Daze mode and that mode restrict network connections, as well as wake Locks [https://developer.android.com/training/monitoring-device-state/doze-standby.html](https://developer.android.com/training/monitoring-

[2018-04-13 20:06] khurana3192 commented on #130
@kbagchiGWC Thanks for the update 👍 We pushed this update live today and advised our team to keep an eye on customer queries. We will run some tests on our end as well to confirm if this has been rectified or not. Will keep you posted. (sorry for the delay - and thanks for all the support )

[2018-04-13 20:07] kbagchiGWC commented on #130
Thanks for the update @khurana3192.

[2018-04-16 06:03] abhinay-w3bminds commented on #82
Hello,
         few of our customers are facing echoing issues over using earphones, AudioFocus is also managed as guided in quickstart app, please go thorough this recording "RE137f6c38c371d04cfe99b2c50e6a84fe"
is it network lagging or anything else? Please check.

[2018-04-16 12:42] imran-samed commented on #160
When i'm trying QuickStart code, i'm not getting any kind of error, its working absolutely fine.
But when i'm trying to implement that in my application , it gives

**java.security.cert.CertPathValidatorException: Trust anchor for certification path not found.**  error

i can't understand why,
if there is any issue with my server then how its working fine in QuickStart
Please help, I'm stuck in th

[2018-04-16 12:49] imran-samed commented on #114
@kbagchiGWC
**java.security.cert.CertPathValidatorException: Trust anchor for certification path not found.**

I'm getting this error, while trying to register on Twilio for voice call
with error code 31301.

Please help I'm stuck in this issue from so long.

[2018-04-17 05:09] idelgado commented on #160
@imran-samed we have identified a compatibility issue with Chat or Sync and Voice that can cause this issue. We are working on a fix that requires a fix in the Voice SDK. It looks like this may be the cause of your problem given the logs you've provided.

[2018-04-17 05:10] idelgado commented on #160
Can you confirm which version of Programmable Chat or Sync you are using?

[2018-04-17 15:58] laoyang commented on #40
Can you prioritize this?

[2018-04-18 09:06] imran-samed commented on #160
its Voice calling

and This is twilio log after registration failed

`E/TWC: TNTwilsockClientImpl:       547074245712 | 04/18/14:32:20.491 | CRITICAL | 3      | TNTwilsockClientImpl | Message type list is empty
A/TWC: TNNotificationClient:       547074245712 | 04/18/14:32:20.491 | FATAL    | 12     | TNNotificationClient | Fatal error while registering twilsock connection: 9: Message type list is

[2018-04-19 16:54] idelgado commented on #160
@imran-samed we have released 2.0.6 which should address your issue. Please try this version.

[2018-04-20 22:37] idelgado commented on #164
Thanks for reporting this. I believe running a [foreground service](https://developer.android.com/guide/components/services.html) is required to ensure this does not happen or as you mentioned [whitelisting](https://developer.android.com/training/monitoring-device-state/doze-standby.html#whitelisting-cases). We'll look into providing an example that uses a foreground service.

[2018-04-22 09:28] fabriziomoscon commented on #95
@kbagchiGWC @idelgado during my tests I found out that including this flag:
`WindowManager.LayoutParams.FLAG_KEEP_SCREEN_ON`
doesn't deliver the UX I wished for.
When the device is locked and it receives a call I want the screen to dim again after a while.

For my benefit, could you explain why that flag was included. I want to make sure I haven't missed a technical requirement with the implementa

[2018-04-22 13:06] fabriziomoscon commented on #161
@idelgado is `onDestroy()` called when the app is closed by swiping it off the recent apps list? I found information on Android documentation and StackOverflow saying that it is not guaranteed.

[2018-04-23 04:59] imran-samed commented on #160
@idelgado  Thanks Sir,  this solved my issue.

[2018-04-23 05:00] #160 closed

[2018-04-23 06:48] kbagchiGWC commented on #95
@fabriziomoscon

During our test/research, we concluded that not adding `FLAG_TURN_SCREEN_ON` did not guarantee to make the activity visible for some devices. That's why we added the flag.  If you want the screen to dim, you can call
`window.clearFlags(WindowManager.LayoutParams.FLAG_TURN_SCREEN_ON)` to clear the flag at any point.

Thanks for brining this up. I see according to https://developer.

[2018-04-23 06:55] kbagchiGWC commented on #161
@fabriziomoscon

@idelgado mentioned exactly that in his comment above, the OS does not guarantee calling `onDestroy()` when the app is swiped off:

If the application follows a typical lifecycle like calling onDestroy() on the Fragment, Activity, Service, or Application you can end the call by calling disconnect() but i**f the application is killed via the OS there are no such lifecycle callbacks

[2018-04-23 12:33] roshannsharma commented on #61
Getting an error name in error

[2018-04-23 12:35] roshannsharma opened #166 "Call Error: 31201, Authorization error"
### Description

[Description of the issue]

### Steps to Reproduce

1. [Step one]
2. [Step two]
3. [Insert as many steps as needed]

#### Code

[code]

#### Expected Behavior

[What you expect to happen]

#### Actual Behavior

[What actually happens]

#### Reproduces How Often

[What percentage of the time does it reproduce?]

#### Logs

[code]

### Versions

All relevant version information for

[2018-04-23 13:07] roshannsharma opened #167 "Authorization error The request requires user authentication"
Start publishing events to : https://eventgw.twilio.com/v3/EndpointEvents
                                                                             {"name":"error","group":"connection","timestamp":"2018-04-23T13:06:22.257Z","level":"INFO","private":false,"payload_type":"application\/json","publisher":"twilio-voice-android","publisher_metadata":{"client_address":"FE80::826C:1BFF:FEA8:E180","os_n

[2018-04-23 16:46] kbagchiGWC commented on #95
@fabriziomoscon Apologies, misread your comment. `FLAG_KEEP_SCREEN_ON` is not necessary for the experience you are looking for. I will remove it from the code.

[2018-04-23 16:47] fabriziomoscon commented on #95
great news thanks

[2018-04-24 05:15] #166 closed

[2018-04-30 10:08] imran-samed opened #168 "onDisconnect medthod call immediate after onConnect without any kind or Error"
**onDisconnect medthod call immediate after onConnect without any kind of Error**

this is the SID

**CA1e675dcfd22f485694bb6977e4e28028**

and there is **null** in **call.getFrom** and **call.getTo**

[2018-04-30 13:00] nOJITOC opened #169 "Need to get amplitude of user's voice sound"
Hi,

I am developing app using Twilio which has feature to display a highlighted view when any user is speaking. Is this possible by using Twilio?
It will be helpful too if I can get my voice recorder instance to detect my voice amplitude only. Because creating recorder to get my voice amplitude is causing issue in transmission of voice in Twilio call, because we can not create 2 instances of reco

[2018-04-30 13:25] nOJITOC commented on #169
This is a copy of the issue https://github.com/twilio/video-quickstart-android/issues/220, but i can't find StatsListener in voice implementation.

[2018-04-30 16:53] kbagchiGWC commented on #169
@nOJITOC

We currently don't have Stats API available in Voice SDKs. Apologies for the inconvenience.

[2018-05-01 13:41] nOJITOC commented on #169
How does the twilio  transmit an event about the beginning of someone's conversation?
 Perhaps it can be intercepted on the client.

[2018-05-15 04:17] hvlong commented on #160
Sorry, I installed twilio voice version 2.0.6 but I still get error '31301, Registration failed'.
I spend a lot of time to research and fix it, But It is't working for me.
Please help me fix this issue.
Thanks.

[2018-05-15 05:02] kbagchiGWC commented on #160
Hi @hvlong

Can you share logs?

[2018-05-15 05:10] kbagchiGWC commented on #160
@hvlong Please set the loglevel as the following before collecting logs.
[code]

[2018-05-17 09:06] gopalgupta93 opened #172 "Not able to get call. if i register a Firebase device token with multiple identities accessToken."
### Description
I am using Programmable voice android sdk to get call in my app. I have implemented one to one call, for one to one call i register firebase device token to get call push notifications. Its working fine. But when i register same firebase device token with a group identity access token in this case i am able to get calls on that group. But not able to get call on one to one. So my c

[2018-05-18 01:29] kbagchiGWC commented on #172
@gopalgupta93

We support only one identity per device/device token. If you are registering as identity_one(G1) and then register as identity_two(G2), we will keep only one binding for the device token i.e. only identity_two will receive incoming notification.

If you want to discuss the use case in details please let me know. You can either add it here or open a support ticket by following this l

[2018-05-22 16:36] kbagchiGWC commented on #167
@roshannsharma
My apologies for the delay in responding to you. It seems like the access token used to make the call is not valid. I would like to see the access token you are using to make outgoing calls. Since access token has your account specific information, can you open a support ticket and share the details? You can open a ticket by filling out information in this link - https://support.twi

[2018-05-23 12:18] brainahdev opened #174 "Voice Call not working"
When I follow the readme file everything went right and placing call via

9. Receiving an Incoming Notification

this step works and get a congratulation message

but 10. Make client to client call doesn't work this initiates and ends saying application error
 from the console I could get only below error message.

Msg=&parserMessage=Error+on+line+1+of+document++%3A+Content+is+not+allowed+in+prolo

[2018-05-23 14:18] ellipsisx opened #175 "Crash when starting activity from service on some Android versions"
### Description

The app crashes on some Android versions when receiving a call, because the service is calling startActivity, which requires the flag FLAG_ACTIVITY_NEW_TASK.
(This seems to be fixed by adding this flag)

### Steps to Reproduce

1. Do the quickstart setup steps 1-9. The app will crash when receiving the call.

#### Expected Behavior

Receive the call as the setup step 9 describes.

[2018-05-23 14:25] idelgado commented on #163
In the quickstart the `SoundManager` is stopped when the call is answered. Have you tried moving this to `onConnected`?

https://github.com/twilio/voice-quickstart-android/blob/master/app/src/main/java/com/twilio/voice/quickstart/VoiceActivity.java#L319-L324

[2018-05-23 21:13] kbagchiGWC commented on #174
Hi @brainahdev

You were able to register successfully as you received push notifications for incoming calls.
In the quickstart access token is fetched only once -https://github.com/twilio/voice-quickstart-android/blob/master/app/src/main/java/com/twilio/voice/quickstart/VoiceActivity.java#L575 and used to register and to make calls.

How is the error surfacing in step 10 and not in step 9? Please

[2018-05-23 21:15] kbagchiGWC commented on #172
@gopalgupta93 please close the ticket if you don;t have any further questions.

[2018-05-23 23:07] kbagchiGWC commented on #175
@ellipsisx
Thanks for reporting the issue and providing the fix.

[2018-05-24 01:08] kbagchiGWC commented on #168
@imran-samed

This is the twiML your application generated for the callSid `CA1e675dcfd22f485694bb6977e4e28028` you provided.

[code]

It dialed a nonexistent client `testnull`.
You received an `onConnect(..)` when the call connected to Twilio infrastructure and then an immediate disconnect because `testnull` was not reachable.

[2018-05-24 06:34] brainahdev commented on #174
Thanks it looks in TwiML Apps need to provide make call URL where I gave the access token url. So it works now.

[2018-05-24 06:34] #174 closed

[2018-05-24 07:07] kbagchiGWC commented on #174
Great to hear @brainahdev.

[2018-05-24 13:42] savchenkosoft opened #176 "Unable to connect using mobile network"
### Description

I'm trying to call from one device connected to mobile network (LTE/3G) to another device connected to LTE/3G. I'm unable to do it because connection failed with "Connection timeout" error OR connection is established, but no voice hear. If I use wifi there are any problems, works as expected. Encountering this issue also on Android device with same symptoms.

Issue on iOS version